
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Approval Pencairan Investasi";
}

@section Header{
    <link rel="stylesheet" href="~/lib/jquery-datatables-checkboxes-1.2.12/css/dataTables.checkboxes.css">
}

<!-- Modal Dialog 1 -->
<div class="modal fade" id="DetailPencairanInvestasi" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detail Pencairan Investasi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body table-responsive p-0">
                    <table id="tabelDetailPencairanInvestasi" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Kategori</th>
                                <th>Sub Kategori</th>
                                <th>Nama Pengadaan</th>
                                <th>Merk</th>
                                <th>Satuan</th>
                                <th>Spesifikasi</th>
                                <th>Harga Satuan</th>
                                <th>Jumlah</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyDetailPencairanInvestasi"> 
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Dialog 1 End -->
    <div class="col-12">
        <div class="card card-primary">
             <div class="card-header">
                <h3 class="card-title">Filter</h3>
            </div>
            
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                         <div class="form-group">
                            <label>Tahun</label>
                            <select class="form-control" style="width: 100%;">
                                <option value="" style="display: none;" disabled selected>Pilih tahun...</option>
                                @foreach (var tahun in Model.tahun)
                                {
                                <option value="@tahun.ID_TAHUN_ANGGARAN">@tahun.TAHUN_ANGGARAN</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Bulan</label>
                            <select class="form-control" style="width: 100%;">
                                <option value="" style="display: none;" disabled selected>Pilih bulan...</option>
                                <option value="Januari">Januari</option>
                                <option value="Februari">Februari</option>
                                <option value="Maret">Maret</option>
                                <option value="April">April</option>
                                <option value="Mei">Mei</option>
                                <option value="Juni">Juni</option>
                                <option value="Juli">Juli</option>
                                <option value="Agustus">Agustus</option>
                                <option value="September">September</option>
                                <option value="Oktober">Oktober</option>
                                <option value="November">November</option>
                                <option value="Desember">Desember</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Unit</label>
                            <select class="form-control" style="width: 100%;">
                                <option value="" style="display: none;" disabled selected>Pilih unit...</option>
                                @foreach (var unit in Model.unit)
                               {
                                <option value="@unit.ID_UNIT">@unit.NAMA_UNIT</option>
                               }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

        @if (TempData["success"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert" style="background-color:green">
                <strong>@TempData["success"].ToString()</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>@TempData["error"].ToString()</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

        <div class="card">
            <form class="formPencairanInvestasi" method="post" asp-action="approvalPencairanInvestasi" asp-controller="PengelolaanInvestasi" enctype="multipart/form-data" novalidate>
                @Html.AntiForgeryToken()
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="tabelPencairanInvestasi" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="text-center">Tahun</th>
                                <th class="text-center">Bulan</th>
                                <th class="text-center">Unit Pengaju</th>
                                <th class="text-center">Tanggal</th>
                                <th class="text-center">Jumlah</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody> 
                            @foreach (var PencairanInvestasi in Model.pencairanInvestasi) { 
                            <tr>
                                <td>@PencairanInvestasi.ID_PENCAIRAN_INVESTASI</td>
                                <td>@PencairanInvestasi.TAHUN_ANGGARAN</td>
                                <td>@PencairanInvestasi.BULAN_PENGADAAN</td>
                                <td>@PencairanInvestasi.NAMA_UNIT</td>
                                <td>@PencairanInvestasi.INSERT_DATE</td>
                                <td>Rp @PencairanInvestasi.TOTAL_PENCAIRAN</td>
                                <td>
                                    <button onclick="showDetailPencairanInvestasi(@PencairanInvestasi.ID_PENCAIRAN_INVESTASI)" type="button" class="btn btn-primary btn-block btn-sm"><i class="fa fa-eye"></i></button>
                                </td>
                            </tr> 
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>Tahun</th>
                                <th>Bulan</th>
                                <th>Unit Pengaju</th>
                                <th>Tanggal</th>
                                <th>Jumlah</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/jquery-datatables-checkboxes-1.2.12/js/dataTables.checkboxes.min.js"></script>

    <script> 
        var tabelPencairanInvestasi;
        var tabelDetailPencairanInvestasi;

        refreshTabelPencairanInvestasi();
        refreshTabelDetailPencairanInvestasi();

        function refreshTabelPencairanInvestasi() {
            tabelPencairanInvestasi = $("#tabelPencairanInvestasi").DataTable({
                columnDefs: [ {
                    targets     :   0,
                    checkboxes  : {
                        selectRow: true
                    }
                } ],
                select: {
                    style       : 'multi'
                },
                paging: true,
                lengthChange: false,
                searching: true,
                ordering: false,
                info: true,
                autoWidth: false,
                responsive: true,
                buttons: {
                    buttons: [
                        {
                            text: 'Approve',
                            action: function (e) {
                            var conf = confirm("Apakah anda yakin akan menyetujui pencairan investasi");
                                        if (confirm) {
                                            var form = document.getElementsByClassName('formPencairanInvestasi');
                                            var table = $("#tabelPencairanInvestasi").DataTable();

                                            var rows_selected = table.column(0).checkboxes.selected();

                                            $.each(rows_selected, function(index, rowId){
                                                 $(form).append(
                                                     $('<input>')
                                                        .attr('type', 'hidden')
                                                        .attr('name', 'id[]')
                                                        .val(rowId)
                                                 );
                                                 $(form).submit();
                                            });
                                            $('input[name="id\[\]"]', form).remove();

                                             e.preventDefault();
                                        }
                            }
                        }
                    ]
                },
            }).buttons().container().appendTo('#tabelPencairanInvestasi_wrapper .col-md-6:eq(0)');
        }

        function refreshTabelDetailPencairanInvestasi() {
            tabelDetailPencairanInvestasi = $("#tabelDetailPencairanInvestasi").DataTable({
                paging: true,
                lengthChange: false,
                searching: true,
                ordering: true,
                info: true,
                autoWidth: false,
                responsive: true,
            });
        }

        function showDetailPencairanInvestasi(id) {
            $('#DetailPencairanInvestasi').modal('show');

            $.ajax({
                url: "/PengelolaanInvestasi/ajaxGetDetailPencairanInvestasi",
                type: "POST",
                data: { "id": id },
                dataType: "json",
                success: function (result) {
                    var dtlPencairanInvestasi = result.data;
                    var str = '';

                    for (var i = 0; i < dtlPencairanInvestasi.length; i++) {
                        str += '<tr> <td>' + dtlPencairanInvestasi[i].KATEGORI + '</td> <td>' + dtlPencairanInvestasi[i].SUB_KATEGORI + '</td> <td>' + dtlPencairanInvestasi[i].NAMA_PENGADAAN + '</td> <td>' + dtlPencairanInvestasi[i].MERK + '</td> <td>' + dtlPencairanInvestasi[i].SATUAN + '</td> <td>' + dtlPencairanInvestasi[i].SPESIFIKASI + '</td> <td>' + dtlPencairanInvestasi[i].HARGA_SATUAN + '</td> <td>' + dtlPencairanInvestasi[i].JUMLAH + '</td> </tr>';
                    }
                    [i]
                    tabelDetailPencairanInvestasi.destroy();
                    $("#tbodyDetailPencairanInvestasi").html(str);
                    refreshTabelDetailPencairanInvestasi();
                }
            })
        }
    </script>
}