@using System.Globalization;

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Controller"] = "Pengelolaan Investasi";
    ViewData["Title"] = "Approval Pencairan Investasi";


    CultureInfo culture = new CultureInfo("id-ID");
}

@section Header{
    <link rel="stylesheet" href="~/lib/jquery-datatables-checkboxes-1.2.12/css/dataTables.checkboxes.css">
}

<!-- Modal Dialog 2 -->
<div class="modal fade" id="DetailPencairanInvestasi" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detail Pencairan Investasi</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <table id="tabelDetailPencairanInvestasi" class="table table-hover table-head-fixed">
                        <thead>
                            <tr>
                                <th>Pengadaan</th>
                                <th>Merk</th>
                                <th>Satuan</th>
                                <th>Jumlah</th>
                                <th>Harga</th>
                                <th class="none">Kategori</th>
                                <th class="none">Spesifikasi</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyDetailPencairanInvestasi">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Dialog 2 End -->

<!-- Modal Dialog 1 -->
<div class="modal fade" id="SpesifikasiDetailPencairanInvestasiModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Spesifikasi</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="spesifikasi"></p>
                <div class="modal-footer" justify-content-between>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Dialog 1 End -->


<div class="row">
	<div class="col-md-8">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Filter</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                         <div class="form-group">
                            <label>Tahun</label>
                            <select onchange="filterDataPencairanInvestasi()" id="tahun" class="form-control select2bs4" style="width: 100%;">
                                <option value="" selected>Semua tahun...</option>
                                @foreach (var tahun in Model.tahun)
                                {
                                <option value="@tahun.TAHUN_ANGGARAN">@tahun.TAHUN_ANGGARAN</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Bulan</label>
                            <select onchange="filterDataPencairanInvestasi()" id="bulan" class="form-control select2bs4" style="width: 100%;">
                                <option value="" selected>Semua bulan...</option>
                                <option value="Januari">Januari</option>
                                <option value="Februari">Februari</option>
                                <option value="Maret">Maret</option>
                                <option value="April">April</option>
                                <option value="Mei">Mei</option>
                                <option value="Juni">Juni</option>
                                <option value="Juli">Juli</option>
                                <option value="Agustus">Agustus</option>
                                <option value="September">September</option>
                                <option value="Oktober">Oktober</option>
                                <option value="November">November</option>
                                <option value="Desember">Desember</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                         <div class="form-group">
                            <label>Unit</label>
                            <select onchange="filterDataPencairanInvestasi()" id="unit" class="form-control select2bs4" style="width: 100%;">
                                <option value="" selected>Semua unit...</option>
                                @foreach (var unit in Model.unit)
                                {
                                    <option value="@unit.NAMA_UNIT">@unit.NAMA_UNIT</option>
                                }
                            </select>                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->	
	</div>

	<div class="col-md-4">
        <form id="formApprovalPencairanInvestasi" method="post" asp-action="approvalPencairanInvestasi" asp-controller="PengelolaanInvestasi" enctype="multipart/form-data" novalidate>
            @Html.AntiForgeryToken()
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title"> Approval Pencairan Investasi *</h3>
                </div>
                <div class="card-body">
                    <input id="IDPencairanInvestasi" name="IDPencairanInvestasi" type="hidden" class="form-control" readonly="readonly" required>
                    <div class="form-group">
                        <label>Total Pencairan</label>
                        <div class="input-group">
                            <input id="totalPencairan" type="text" class="form-control" placeholder="Rp 0" readonly="readonly">
                            <span class="input-group-append">
                                <button id="btnProsesApproval" type="submit" class="btn btn-primary" disabled>Setujui (<b id="selectedPencairan">0</b>)</button>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </form>
	</div>

    <div class="col-12">    
        <div class="card">
            <div class="card-body">
                <table id="tabelPencairanInvestasi" class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Tahun</th>
                            <th>Bulan</th>
                            <th>Unit Pengaju</th>
                            <th>Tanggal</th>
                            <th>Total</th>
                            <th class="text-center">Detail</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var PencairanInvestasi in Model.pencairanInvestasi) {
                        <tr>
                            <td style="color:transparent;">@PencairanInvestasi.ID_PENCAIRAN_INVESTASI</td>
                            <td>@PencairanInvestasi.TAHUN_ANGGARAN</td>
                            <td>@PencairanInvestasi.BULAN_PENGADAAN</td>
                            <td>@PencairanInvestasi.NAMA_UNIT</td>
                            <td>@((PencairanInvestasi.INSERT_DATE).ToLongDateString())</td>
                            <td>@((PencairanInvestasi.TOTAL_PENCAIRAN).ToString("C0", culture))</td>
                            <td class="text-center"> 
                                <a onclick="showDetailPencairanInvestasi(@PencairanInvestasi.ID_PENCAIRAN_INVESTASI)" class="btn btn-primary btn-sm"> <i class="fas fa-eye"> </i> </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>                
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>


@section Scripts{
    <!-- Select -->
    <script src="~/lib/datatables-select/js/dataTables.select.min.js"></script>  
    <!-- CheckBox -->
    <script src="~/lib/jquery-datatables-checkboxes-1.2.12/js/dataTables.checkboxes.min.js"></script>


    @if (TempData["success"] != null){
        <script type="text/javascript">
            toastr.success('@TempData["success"].ToString()', 'Berhasil');
        </script>
    }
    @if (TempData["error"] != null){
        <script type="text/javascript">
            toastr.error('@TempData["error"].ToString()', 'Gagal');
        </script>
    }

    <script> 
        var tabelPencairanInvestasi;
        var tabelDetailPencairanInvestasi;

        refreshTabelPencairanInvestasi();
        refreshTabelDetailPencairanInvestasi();

        var tabelMain   = $('#tabelPencairanInvestasi').DataTable();
        var tabelDetail = $('#tabelDetailPencairanInvestasi').DataTable();
        var rowIndex = [];
        var totalPencairanInvestasi = 0;
        var idPencairanInvestasiArray = [];

        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });

        var formatRupiah = (number) => {
           return new Intl.NumberFormat('id-ID', { 
               style: 'currency', 
               currency: 'IDR', 
               minimumFractionDigits: 0 
           }).format(number);
        };

        $("#formApprovalPencairanInvestasi").on("submit", function(e){
            e.preventDefault();
            var formApprovalPencairanInvestasi = this;
            
            Swal.fire({
                title: 'Lanjutkan Proses Approval?',
                showClass: { popup: 'animate__animated animate__fadeInDown' },
                hideClass: { popup: 'animate__animated animate__fadeOutUp' },
                text: "Mohon pastikan semua pencairan yang dipilih sudah sesuai",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#007bff',
                cancelButtonColor: '#6c757d',
                confirmButtonText: 'Ya, lanjutkan!',
                cancelButtonText: 'Batal',
            }).then((result) => {
                if (result.isConfirmed) {
                    formApprovalPencairanInvestasi.submit();
                }
            })
        });

        tabelMain
            .on( 'select', function ( e, dt, type, indexes ) {
                var selectedRows = indexes.filter(x => !rowIndex.includes(x));
                rowIndex.push(...selectedRows);

                var selectedID  = tabelMain.cells( selectedRows, 0 ).data().toArray();
                var addTotal    = tabelMain.cells( selectedRows, 5 ).data().sum();
                
                idPencairanInvestasiArray.push(...selectedID);
                totalPencairanInvestasi += addTotal;

                $('#IDPencairanInvestasi').val(idPencairanInvestasiArray);
                $('#totalPencairan').val(formatRupiah(totalPencairanInvestasi));
                $('#selectedPencairan').html(idPencairanInvestasiArray.length);

                $('#btnProsesApproval').prop('disabled', false);
            } )
            .on( 'deselect', function ( e, dt, type, indexes ) {
                rowIndex = rowIndex.filter(x => !indexes.includes(x));

                var deselectIDArray = tabelMain.cells( indexes, 0 ).data().toArray();
                var minTotal        = tabelMain.cells( indexes, 5 ).data().sum();

                idPencairanInvestasiArray = idPencairanInvestasiArray.filter(a => !deselectIDArray.includes(a));
                totalPencairanInvestasi   -= minTotal;

                $('#IDPencairanInvestasi').val(idPencairanInvestasiArray);
                $('#totalPencairan').val(formatRupiah(totalPencairanInvestasi));
                $('#selectedPencairan').html(idPencairanInvestasiArray.length);
                
                if(idPencairanInvestasiArray.length == 0){
                    $('#btnProsesApproval').prop('disabled', true);
                }
            } );

        function refreshTabelPencairanInvestasi() {
            tabelPencairanInvestasi = $("#tabelPencairanInvestasi").DataTable({
                language: {
                    url: "../json/datatables-id.json"
                },
                columnDefs: [ 
                    {
                        targets     :   0,
                        checkboxes  : {
                            selectRow: true
                        }
                    }
                ],
                select: {
                    style       : 'multi'
                },
                paging: true,
                lengthChange: true,
                searching: true,
                ordering: false,
                info: true,
                autoWidth: false,
                responsive: true
            }).buttons().container().appendTo('#tabelPencairanInvestasi_wrapper .col-md-6:eq(0)');
        }

        function refreshTabelDetailPencairanInvestasi() {
            tabelDetailPencairanInvestasi = $("#tabelDetailPencairanInvestasi").DataTable({
                language: {
                    url: "../json/datatables-id.json"
                },
                paging: true,
                lengthChange: false,
                searching: false,
                ordering: false,
                info: true,
                autoWidth: false,
                responsive: true,
            });
        }

        function showDetailPencairanInvestasi(IDPencairanInvestasi) {
            $.ajax({
                url: "/PengelolaanInvestasi/ajaxGetDetailPencairanInvestasiApproval",
                type: "POST",
                data: { "IDPencairanInvestasi": IDPencairanInvestasi },
                dataType: "json",
                success: function (result) {
                    tabelDetail.clear().draw();

                    for (var i = 0; i < result.data.length; i++) {
                        tabelDetail.row.add([result.data[i].NAMA_PENGADAAN, result.data[i].MERK, result.data[i].SATUAN, result.data[i].JUMLAH, formatRupiah(result.data[i].HARGA_SATUAN), result.data[i].KATEGORI + " - " + result.data[i].SUB_KATEGORI, result.data[i].SPESIFIKASI ]).draw();
                    }
                }
            })

            $('#DetailPencairanInvestasi').modal('show');
        }

        function filterDataPencairanInvestasi(){
            var tahun   = $('#tahun').val();
            var bulan   = $('#bulan').val();
            var unit    = $('#unit').val();

            tabelMain.column(1).search(tahun ? '^'+tahun+'$' : '', true, false).column(2).search(bulan ? '^'+bulan+'$' : '', true, false).column(3).search(unit ? '^'+unit+'$' : '', true, false).order( [ 0, 'asc' ] ).draw();
        }

        jQuery.fn.dataTable.Api.register( 'sum()', function ( ) {
	        return this.flatten().reduce( function ( a, b ) {
		        if ( typeof a === 'string' ) {
			        a = a.replace(/[^\d]/g, '') * 1;
		        }
		        if ( typeof b === 'string' ) {
			        b = b.replace(/[^\d]/g, '') * 1;
		        }

		        return a + b;
	        }, 0 );
        } );
    </script>
}