@using System;
@using System.Globalization;

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Purchase Order Investasi";

    CultureInfo culture = new CultureInfo("id-ID");
}

@section Header{
    <link rel="stylesheet" href="~/lib/jquery-datatables-checkboxes-1.2.12/css/dataTables.checkboxes.css">
}

<div class="row">
    <div class="col-md-3">
        <!-- About Me Box -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Filter</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="form-group">
                    <label>Tahun</label>
                    <select class="form-control select2bs4" style="width: 100%;">
                        <option value="" style="display: none;" disabled selected>Pilih tahun</option>
                        @foreach (var tahun in Model.tahun)
                        {
                        <option value="@tahun.ID_TAHUN_ANGGARAN">@tahun.TAHUN_ANGGARAN</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label>Bulan</label>
                    <select class="form-control select2bs4" style="width: 100%;">
                        <option value="" style="display: none;" disabled selected>Pilih unit</option>
                        <option value="Januari">Januari</option>
                        <option value="Februari">Februari</option>
                        <option value="Maret">Maret</option>
                        <option value="April">April</option>
                        <option value="Mei">Mei</option>
                        <option value="Juni">Juni</option>
                        <option value="Juli">Juli</option>
                        <option value="Agustus">Agustus</option>
                        <option value="September">September</option>
                        <option value="Oktober">Oktober</option>
                        <option value="November">November</option>
                        <option value="Desember">Desember</option>
                    </select>
                </div>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>

    <div class="col-md-9">
        <form class="formPurchaseOrder" method="post" asp-action="addPurchaseOrder" asp-controller="PengelolaanInvestasi" enctype="multipart/form-data" novalidate>
            @Html.AntiForgeryToken()
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Input Purchase Order *</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Nomor PO</label>
                                <input id="nomorPO" name="nomorPO" type="number" class="form-control" placeholder="Masukan Nomor PO..." required>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Supplier</label>
                                <select id="IDSupplier" name="IDSupplier" class="form-control select2bs4" required>
                                    <option value="" style="display: none;" disabled selected>Pilih supplier...</option>
                                    @foreach (var supplier in Model.supplier)
                                    {
                                    <option value="@supplier.ID_SUPPLIER">@supplier.NAMA_SUPPLIER</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Tanggal PO</label>
                                <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                    <input id="tanggalPO" name="tanggalPO" type="text" class="form-control datetimepicker-input" placeholder="dd/mm/yy" data-target="#reservationdate" required/>
                                    <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                        <div class="input-group-text btn"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input id="IDDetailPencairanInvestasi" name="IDDetailPencairanInvestasi" type="hidden" class="form-control" readonly="readonly" required>
                    <input id="totalPO" name="totalPO" type="hidden" class="form-control" readonly="readonly" required>
                    <div class="form-group">
                        <label>Total PO</label>
                        <div class="input-group">
                            <input id="inpTotalPO" type="text" class="form-control" placeholder="Rp 0" readonly="readonly" required>
                            <span class="input-group-append">
                                <button id="btnProsesPO" type="submit" class="btn btn-primary" disabled>Proses</button>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </form>
    </div>


    <div class="col-12">
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
                <table id="tabelDetailPencairanInvestasi" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="text-center">Nama Barang</th>
                            <th class="text-center">Merk</th>
                            <th class="text-center">Harga Satuan</th>
                            <th class="text-center">Jumlah</th>
                            <th class="text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var DetailPencairanInvestasi in Model.detailPencairanInvestasi) {
                        <tr>
                            <td>@DetailPencairanInvestasi.ID_DETAIL_PENCAIRAN_INVESTASI</td>
                            <td>@DetailPencairanInvestasi.NAMA_PENGADAAN</td>
                            <td>@DetailPencairanInvestasi.MERK</td>
                            <td class="text-right">@((DetailPencairanInvestasi.HARGA_SATUAN).ToString("C0", culture))</td>
                            <td class="text-center">@DetailPencairanInvestasi.JUMLAH</td>
                            <td class="text-right">@((DetailPencairanInvestasi.JUMLAH * DetailPencairanInvestasi.HARGA_SATUAN).ToString("C0", culture))</td>
                        </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th class="text-center">Nama Barang</th>
                            <th class="text-center">Merk</th>
                            <th class="text-center">Harga Satuan</th>
                            <th class="text-center">Jumlah</th>
                            <th class="text-center">Total</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>

@section Scripts{  
    <!-- Select -->
    <script src="~/lib/datatables-select/js/dataTables.select.min.js"></script>    
    <!-- CheckBox -->
    <script src="~/lib/jquery-datatables-checkboxes-1.2.12/js/dataTables.checkboxes.min.js"></script>
    <!-- InputMask -->
    <script src="~/lib/moment/moment.min.js"></script>
    <script src="~/lib/inputmask/jquery.inputmask.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/lib/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/lib/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>


    @if (TempData["success"] != null){
        <script type="text/javascript">
            toastr.success('@TempData["success"].ToString()', 'Berhasil Memperoses');
        </script>
    }
    @if (TempData["error"] != null){
        <script type="text/javascript">
            toastr.error('@TempData["error"].ToString()', 'Gagal Memperoses');
        </script>
    }

    <script>
        var tabelDetailPencairanInvestasi;
        refreshTabelDetailPencairanInvestasi();

        $('#reservationdate').datetimepicker({
            format: 'L'
        });
        
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });
        
        var tabel      = $('#tabelDetailPencairanInvestasi').DataTable();
        var rowIndex = [];
        var totalDetailPencairanInvestasi = 0;
        var idDetailPencairanInvestasiArray = [];

        var formatRupiah = (number) => {
           return new Intl.NumberFormat('id-ID', { 
               style: 'currency', 
               currency: 'IDR', 
               minimumFractionDigits: 0 
           }).format(number);
        };

        tabel
            .on( 'select', function ( e, dt, type, indexes ) {
                var selectedRows = indexes.filter(x => !rowIndex.includes(x));
                rowIndex.push(...selectedRows);

                var selectedID  = tabel.cells( selectedRows, 0 ).data().toArray();
                var addTotal    = tabel.cells( selectedRows, 5 ).data().sum();
                
                idDetailPencairanInvestasiArray.push(...selectedID);
                totalDetailPencairanInvestasi += addTotal;

                $('#IDDetailPencairanInvestasi').val(idDetailPencairanInvestasiArray);
                $('#totalPO').val(totalDetailPencairanInvestasi);
                $('#inpTotalPO').val(formatRupiah(totalDetailPencairanInvestasi));

                $('#btnProsesPO').prop('disabled', false);
            } )
            .on( 'deselect', function ( e, dt, type, indexes ) {
                rowIndex = rowIndex.filter(x => !indexes.includes(x));

                var deselectIDArray = tabel.cells( indexes, 0 ).data().toArray();
                var minTotal        = tabel.cells( indexes, 5 ).data().sum();

                idDetailPencairanInvestasiArray = idDetailPencairanInvestasiArray.filter(a => !deselectIDArray.includes(a));
                totalDetailPencairanInvestasi   -= minTotal;

                $('#IDDetailPencairanInvestasi').val(idDetailPencairanInvestasiArray);
                $('#totalPO').val(totalDetailPencairanInvestasi);
                $('#inpTotalPO').val(formatRupiah(totalDetailPencairanInvestasi));
                
                if(idDetailPencairanInvestasiArray.length == 0){
                    $('#btnProsesPO').prop('disabled', true);
                }
            } );

        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('formPurchaseOrder');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);

        function refreshTabelDetailPencairanInvestasi() {
            tabelPencairanInvestasi = $("#tabelDetailPencairanInvestasi").DataTable({
                columnDefs: [ {
                    targets     :   0,
                    checkboxes  : {
                        selectRow: true
                    }
                } ],
                select: {
                    style       : 'multi'
                },
                paging: true,
                lengthChange: false,
                searching: true,
                ordering: false,
                info: true,
                autoWidth: false,
                responsive: true,
            }).buttons().container().appendTo('#tabelDetailPencairanInvestasi_wrapper .col-md-6:eq(0)');
        }

        jQuery.fn.dataTable.Api.register( 'sum()', function ( ) {
	        return this.flatten().reduce( function ( a, b ) {
		        if ( typeof a === 'string' ) {
			        a = a.replace(/[^\d]/g, '') * 1;
		        }
		        if ( typeof b === 'string' ) {
			        b = b.replace(/[^\d]/g, '') * 1;
		        }

		        return a + b;
	        }, 0 );
        } );
    </script>
}