@using System;
@using System.Globalization;

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Controller"] = "Pengelolaan Investasi";
    ViewData["Title"] = "Purchase Order Investasi";

    CultureInfo culture = new CultureInfo("id-ID");
}

@section Header{
    <!-- jQuery UI -->
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.css"/>
    <!-- DataTables Select-->
    <link rel="stylesheet" href="~/lib/jquery-datatables-checkboxes-1.2.12/css/dataTables.checkboxes.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/lib/daterangepicker/daterangepicker.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/lib/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
}

<div class="card-header p-0 border-bottom-0">
    <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#tabInputPO" role="tab" aria-controls="tabInputPO" aria-selected="true">Input</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#tabRevisiPO" role="tab" aria-controls="tabRevisiPO" aria-selected="false">Revisi</a>
        </li>
    </ul>
</div>
<div class="tab-content" id="custom-tabs-four-tabContent">
    <div class="tab-pane fade show active" id="tabInputPO" role="tabpanel" aria-labelledby="tabInputPO">
        <br />
        <div class="row">
            <div class="col-md-3">
                <!-- About Me Box -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Filter</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="form-group">
                            <label>Tahun</label>
                            <select onchange="filterDataDetailPencairanInvestasi()" id="tahun" class="form-control select2bs4" style="width: 100%;">
                                <option value="" selected>Semua tahun</option>
                                @foreach (var tahun in Model.tahun)
                                {
                                <option value="@tahun.TAHUN_ANGGARAN">@tahun.TAHUN_ANGGARAN</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Bulan</label>
                            <select onchange="filterDataDetailPencairanInvestasi()" id="bulan" class="form-control select2bs4" style="width: 100%;">
                                <option value="" selected>Semua bulan</option>
                                <option value="Januari">Januari</option>
                                <option value="Februari">Februari</option>
                                <option value="Maret">Maret</option>
                                <option value="April">April</option>
                                <option value="Mei">Mei</option>
                                <option value="Juni">Juni</option>
                                <option value="Juli">Juli</option>
                                <option value="Agustus">Agustus</option>
                                <option value="September">September</option>
                                <option value="Oktober">Oktober</option>
                                <option value="November">November</option>
                                <option value="Desember">Desember</option>
                            </select>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>

            <div class="col-md-9">
                <form id="formPurchaseOrder" method="post" asp-action="addPurchaseOrder" asp-controller="PengelolaanInvestasi" enctype="multipart/form-data" novalidate>
                    @Html.AntiForgeryToken()
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Input Purchase Order *</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Nomor PO</label>
                                        <input id="nomorPO" name="nomorPO" type="text" class="form-control" placeholder="Masukan Nomor PO..." readonly="readonly" required>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Supplier</label>
                                        <select id="IDSupplier" name="IDSupplier" class="form-control select2bs4" required>
                                            <option value="" style="display: none;" disabled selected>Pilih supplier...</option>
                                            @foreach (var supplier in Model.supplier)
                                            {
                                            <option value="@supplier.ID_SUPPLIER">@supplier.NAMA_SUPPLIER</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Tanggal PO</label>
                                        <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                            <input id="tanggalPO" name="tanggalPO" type="text" class="form-control datetimepicker-input" placeholder="mm/dd/yy" data-target="#reservationdate" required/>
                                            <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                                <div class="input-group-text btn"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input id="IDDetailPencairanInvestasi" name="IDDetailPencairanInvestasi" type="hidden" class="form-control" readonly="readonly" required>
                            <input id="totalPO" name="totalPO" type="hidden" class="form-control" readonly="readonly" required>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Pajak (Dalam %)</label>
                                        <input id="pajak" name="pajak" type="number" class="form-control" placeholder="Masukan jumlah pajak..." required>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Total PO</label>
                                        <div class="input-group">
                                            <input id="inpTotalPO" type="text" class="form-control" placeholder="Rp 0" readonly="readonly" required>
                                            <span class="input-group-append">
                                                <button id="btnProsesPO" type="submit" class="btn btn-primary" disabled>Proses</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </form>
            </div>

            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="tabelDetailPencairanInvestasi" class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Nama Barang</th>
                                    <th>Merk</th>
                                    <th>Harga Satuan</th>
                                    <th>Jumlah</th>
                                    <th>Total</th>
                                    <th>Tahun</th>
                                    <th>Bulan</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var DetailPencairanInvestasi in Model.detailPencairanInvestasi) {
                                <tr>
                                    <td style="color:transparent;">@DetailPencairanInvestasi.ID_DETAIL_PENCAIRAN_INVESTASI</td>
                                    <td>@DetailPencairanInvestasi.NAMA_PENGADAAN</td>
                                    <td>@DetailPencairanInvestasi.MERK</td>
                                    <td>@((DetailPencairanInvestasi.HARGA_SATUAN).ToString("C0", culture))</td>
                                    <td>@DetailPencairanInvestasi.JUMLAH</td>
                                    <td>@((DetailPencairanInvestasi.JUMLAH * DetailPencairanInvestasi.HARGA_SATUAN).ToString("C0", culture))</td>
                                    <td>@DetailPencairanInvestasi.TAHUN_ANGGARAN</td>
                                    <td>@DetailPencairanInvestasi.BULAN_PENGADAAN</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="tabRevisiPO" role="tabpanel" aria-labelledby="tabRevisiPO"> 
        <br />
        <div class="row">
            <div class="col-12">
                <div class="card card-primary card-outline">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <div class="input-group">
                                    <input id="nomorPORevisi" name="nomorPORevisi" type="text" class="form-control" placeholder="Masukkan No. Purchase Order...">
                                    <div class="input-group-append">
                                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                                    </div>
                                </div>
                            </div>                    
                        </div>
                        <div class="table-responsive">
                            <table id="tabelDetailPurchaseOrderRevisi" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Nama Barang</th>
                                        <th>Merk</th>
                                        <th>Harga Satuan</th>
                                        <th>Jumlah</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>

            <div class="col-12">
                <form id="formTerimaAset" method="post" asp-action="addPenerimaanBarang" asp-controller="PengelolaanInvestasi" enctype="multipart/form-data" novalidate>
                    @Html.AntiForgeryToken()
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Revisi Purchase Order *</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Nomor Invoice</label>
                                        <input id="nomorInvoice" name="nomorInvoice" type="text" class="form-control" placeholder="Masukan Nomor PO..." required>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Tanggal Terima</label>
                                        <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                            <input id="tanggalTerima" name="tanggalTerima" type="text" class="form-control datetimepicker-input" placeholder="dd/mm/yy" data-target="#reservationdate" required/>
                                            <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                                <div class="input-group-text btn"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input id="IDPO" name="IDPO" type="hidden" class="form-control" readonly="readonly" required>
                            <input id="totalInvoice" name="totalInvoice" type="hidden" class="form-control" readonly="readonly" required>
                            <div class="form-group">
                                <label>Total</label>
                                <div class="input-group">
                                    <input id="inpTotalInvoice" type="text" class="form-control" placeholder="Rp 0" readonly="readonly" required>
                                    <span class="input-group-append">
                                        <button id="btnSimpanInvoice" type="submit" class="btn btn-primary" disabled>Simpan</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{  
    <!-- jQuery UI -->
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <!-- Select -->
    <script src="~/lib/datatables-select/js/dataTables.select.min.js"></script>    
    <!-- CheckBox -->
    <script src="~/lib/jquery-datatables-checkboxes-1.2.12/js/dataTables.checkboxes.min.js"></script>
    <!-- InputMask -->
    <script src="~/lib/moment/moment.min.js"></script>
    <script src="~/lib/inputmask/jquery.inputmask.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/lib/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/lib/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>


    @if (TempData["success"] != null){
        <script type="text/javascript">
            toastr.success('@TempData["success"].ToString()', 'Berhasil');
        </script>
    }
    @if (TempData["error"] != null){
        <script type="text/javascript">
            toastr.error('@TempData["error"].ToString()', 'Gagal');
        </script>
    }

    <script>
        var tabelDetailPencairanInvestasi;
        var tabelDetailPurchaseOrderRevisi;

        refreshTabelDetailPencairanInvestasi();
        refreshTabelDetailPurchaseOrderRevisi();

        $('#reservationdate').datetimepicker({
            format: 'L'
        });
        
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });
        
        var tabel      = $('#tabelDetailPencairanInvestasi').DataTable();
        var rowIndex = [];
        var totalDetailPencairanInvestasi = 0;
        var idDetailPencairanInvestasiArray = [];

        var formatRupiah = (number) => {
           return new Intl.NumberFormat('id-ID', { 
               style: 'currency', 
               currency: 'IDR', 
               minimumFractionDigits: 0 
           }).format(number);
        };

        var formatRomawi = (number) => {
            var numeric = [ 5000,4000,1000, 900, 500, 400, 100, 90, 50, 40, 10, 9, 5, 4, 1 ];
            var roman = [ 'V\u0305','I\u0305V\u0305','M', 'CM', 'D', 'CD', 'C', 'XC', 'L', 'XL', 'X', 'IX', 'V', 'IV', 'I' ];
            var output = '', i, len = numeric.length;

            for (i = 0; i < len; i++){
                while (numeric[i] <= number){
                    output += roman[i];
                    number -= numeric[i];
                }
            }

            return output;
        };

        $( document ).ready(function() {
            var now = new Date();

            autoGenerateNomorPurchaseOrder();
            $('#tanggalPO').val((now.getMonth()+1) + '/' +  now.getDate() + '/' + now.getFullYear());
        });

        $("#nomorPORevisi").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/PengelolaanInvestasi/ajaxGetAutoCompleteNomorPO",
                    data: { "nomorPO": request.term },
                    type: "POST",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item.NO_PO;
                        }))
                    }
                });
            },
            select: function (e, i) {
                $("#nomorPO").val(i.item.value);
                $("#nomorInvoice").val(i.item.value + "-Revisi 1");
                searchDetailPurchaseOrder(i.item.value);
            },
            minLength: 1
        });

        function searchDetailPurchaseOrder(nomorPO) {
            tabelDetailPurchaseOrderRevisi = $("#tabelDetailPurchaseOrderRevisi").DataTable();

            Swal.fire({
                title: 'Mencari Data PO...',
                showClass: { popup: 'animate__animated animate__zoomIn' },
                hideClass: { popup: 'animate__animated animate__zoomOut' },
                allowOutsideClick: false,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading()
                },
            });

            $.ajax({
                url: "/PengelolaanInvestasi/ajaxGetDetailPurchaseOrderPenerimaanBarang",
                type: "POST",
                data: { "nomorPO": nomorPO },
                dataType: "json",
                success: function (result) {
                    tabelDetailPurchaseOrderRevisi.clear().draw();
                    for (var i = 0; i < result.data.length; i++) {
                        if(result.data[i].ID_DETAIL_TERIMA == null){
                            tabelDetailPurchaseOrderRevisi.row.add([result.data[i].ID_DETAIL_PO_INVESTASI, '<input id="jumlahBarang" name="jumlahBarang" type="text" class="form-control form-control-sm form-control-border" value="' + result.data[i].NAMA_BARANG +'"/>', '<input id="jumlahBarang" name="jumlahBarang" type="text" class="form-control form-control-sm form-control-border" value="' + result.data[i].MERK +'"/>', '<input id="jumlahBarang" name="jumlahBarang" type="text" class="form-control form-control-sm form-control-border" value="' + formatRupiah(result.data[i].HARGA_SATUAN) +'"/>', '<input id="jumlahBarang" name="jumlahBarang" type="number" class="form-control form-control-sm form-control-border" value="' + result.data[i].JUMLAH +'"/>', '<input id="jumlahBarang" name="jumlahBarang" type="text" class="form-control form-control-sm form-control-border" value="' + formatRupiah(result.data[i].HARGA_SATUAN * result.data[i].JUMLAH) +'" readonly/>']).draw();
                        }
                        //$("#IDPO").val(result.data[i].ID_PO_INVESTASI);
                    }

                    swal.close();

                    if(result.data.length == 0){
                        Swal.fire({
                            icon: 'error',
                            title: 'Data PO Tidak Ditemukan',
                            text: 'Mohon periksa kembali No. Purchase Order!',
                            showClass: { popup: 'animate__animated animate__zoomIn' },
                            hideClass: { popup: 'animate__animated animate__zoomOut' },
                        })
                    }
                }
            })     
        }

        function autoGenerateNomorPurchaseOrder(){
            var now = new Date();

            var month = formatRomawi(now.getMonth() + 1);
            var year  = now.getFullYear();

            $.ajax({
                url: "/PengelolaanInvestasi/ajaxGetMaxNomorPO",
                type: "POST",
                dataType: "json",
                success: function (result) {
                    $('#nomorPO').val(result + '/PBK.KPSP/' + month + '/' + year);
                }
            })
        }

        tabel
            .on( 'select', function ( e, dt, type, indexes ) {
                var selectedRows = indexes.filter(x => !rowIndex.includes(x));
                rowIndex.push(...selectedRows);

                var selectedID  = tabel.cells( selectedRows, 0 ).data().toArray();
                var addTotal    = tabel.cells( selectedRows, 5 ).data().sum();
                
                idDetailPencairanInvestasiArray.push(...selectedID);
                totalDetailPencairanInvestasi += addTotal;

                $('#IDDetailPencairanInvestasi').val(idDetailPencairanInvestasiArray);
                $('#totalPO').val(totalDetailPencairanInvestasi);
                $('#inpTotalPO').val(formatRupiah(totalDetailPencairanInvestasi));

                $('#btnProsesPO').prop('disabled', false);
                autoGenerateNomorPurchaseOrder();
            } )
            .on( 'deselect', function ( e, dt, type, indexes ) {
                rowIndex = rowIndex.filter(x => !indexes.includes(x));

                var deselectIDArray = tabel.cells( indexes, 0 ).data().toArray();
                var minTotal        = tabel.cells( indexes, 5 ).data().sum();

                idDetailPencairanInvestasiArray = idDetailPencairanInvestasiArray.filter(a => !deselectIDArray.includes(a));
                totalDetailPencairanInvestasi   -= minTotal;

                $('#IDDetailPencairanInvestasi').val(idDetailPencairanInvestasiArray);
                $('#totalPO').val(totalDetailPencairanInvestasi);
                $('#inpTotalPO').val(formatRupiah(totalDetailPencairanInvestasi));
                
                if(idDetailPencairanInvestasiArray.length == 0){
                    $('#btnProsesPO').prop('disabled', true);
                }
                autoGenerateNomorPurchaseOrder();
            } );

        window.addEventListener('load', function () {
            var forms = $('#formPurchaseOrder');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }else{
                        event.preventDefault();

                        Swal.fire({
                            title: 'Lanjutkan Proses PO?',
                            showClass: { popup: 'animate__animated animate__fadeInDown' },
                            hideClass: { popup: 'animate__animated animate__fadeOutUp' },
                            text: "Mohon pastikan semua barang yang dipilih sudah sesuai",
                            icon: 'question',
                            showCancelButton: true,
                            confirmButtonColor: '#007bff',
                            cancelButtonColor: '#6c757d',
                            confirmButtonText: 'Ya, lanjutkan!',
                            cancelButtonText: 'Batal',
                        }).then((result) => {
                            if (result.isConfirmed) {
                                form.submit();
                            }
                        })
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);

        function refreshTabelDetailPencairanInvestasi() {
            tabelPencairanInvestasi = $("#tabelDetailPencairanInvestasi").DataTable({
                language: {
                    url: "../json/datatables-id.json"
                },
                columnDefs: [
                    {
                        targets     :   0,
                        checkboxes  : {
                            selectRow: true
                        }
                    },
                    {
                        targets: [6,7],
                        visible: false
                    }
                ],
                select: {
                    style       : 'multi'
                },
                paging: true,
                lengthChange: true,
                searching: true,
                ordering: false,
                info: true,
                autoWidth: false,
                responsive: true,
            }).buttons().container().appendTo('#tabelDetailPencairanInvestasi_wrapper .col-md-6:eq(0)');
        }

        function refreshTabelDetailPurchaseOrderRevisi() {
            tabelDetailPurchaseOrderRevisi = $("#tabelDetailPurchaseOrderRevisi").DataTable({
                language: {
                    url: "../json/datatables-id.json"
                },
                columnDefs: [
                    {
                        targets     :   0,
                        visible     : false,
                        searchable  : true,
                    }
                ],
                paging: true,
                lengthChange: false,
                searching: false,
                ordering: false,
                info: true,
                autoWidth: false,
                responsive: true,
            }).buttons().container().appendTo('#tabelDetailPurchaseOrderRevisi_wrapper .col-md-6:eq(0)');
        }

        function filterDataDetailPencairanInvestasi(){
            var tahun = $("#tahun").val();
            var bulan  = $("#bulan").val();

            tabel.column(6).search(tahun ? '^'+tahun+'$' : '', true, false).column(7).search(bulan ? '^'+bulan+'$' : '', true, false).order( [ 0, 'asc' ] ).draw();
        }

        jQuery.fn.dataTable.Api.register( 'sum()', function ( ) {
	        return this.flatten().reduce( function ( a, b ) {
		        if ( typeof a === 'string' ) {
			        a = a.replace(/[^\d]/g, '') * 1;
		        }
		        if ( typeof b === 'string' ) {
			        b = b.replace(/[^\d]/g, '') * 1;
		        }

		        return a + b;
	        }, 0 );
        } );
    </script>
}