@using System.Globalization;

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Rekap Pengadaan Investasi";

    CultureInfo culture = new CultureInfo("id-ID");
}

<!-- Modal Dialog 1 -->
<div class="modal fade" id="SpesifikasiPengadaanInvestasiModal" tabindex="-1" role="dialog" style="overflow-y:scroll;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Spesifikasi</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="spesifikasi"></p>
                <div class="modal-footer" justify-content-between>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Dialog 1 End -->

<div class="row">
	<div class="col-md-8">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Filter</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                         <div class="form-group">
                            <label>Tahun</label>
                            <select onchange="filterDataRekapPengadaanInvestasi()" id="tahun" class="form-control select2bs4" style="width: 100%;">
                                <option value="" selected>Pilih tahun...</option>
                                @foreach (var tahun in Model.tahun)
                                {
                                <option value="@tahun.TAHUN_ANGGARAN">@tahun.TAHUN_ANGGARAN</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Bulan</label>
                            <select onchange="filterDataRekapPengadaanInvestasi()" id="bulan" class="form-control select2bs4" style="width: 100%;">
                                <option value="" selected>Pilih bulan...</option>
                                <option value="Januari">Januari</option>
                                <option value="Februari">Februari</option>
                                <option value="Maret">Maret</option>
                                <option value="April">April</option>
                                <option value="Mei">Mei</option>
                                <option value="Juni">Juni</option>
                                <option value="Juli">Juli</option>
                                <option value="Agustus">Agustus</option>
                                <option value="September">September</option>
                                <option value="Oktober">Oktober</option>
                                <option value="November">November</option>
                                <option value="Desember">Desember</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                         <div class="form-group">
                            <label>Unit</label>
                            <select onchange="filterDataRekapPengadaanInvestasi()" id="unit" class="form-control select2bs4" style="width: 100%;">
                                <option value="" selected>Pilih unit...</option>
                                @foreach (var unit in Model.unit)
                                {
                                    <option value="@unit.ID_UNIT">@unit.NAMA_UNIT</option>
                                }
                            </select>                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->	
	</div>

	<div class="col-md-4">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Rencana Pengadaan</h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Total Pengadaan</label>
                    <input id="totalPengadaan" name="totalPengadaan" type="text" class="form-control" placeholder="Rp 0" readonly="readonly">
                </div>               
            </div>
            <!-- /.card-body -->
        </div>	
	</div>

    <div class="col-12">
        <div class="card">
            <h5 class="card-header">Barang Yang Direncanakan:</h5>
            <div class="card-body">
                <table id="tabelRekapPengadaanInvestasi" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nama Barang:</th>
                            <th>Merk:</th>
                            <th class="none">Sub Kategori:</th>
                            <th class="none">Spesifikasi:</th>
                            <th>Jumlah:</th>
                            <th>Satuan:</th>
                            <th>Harga Satuan:</th>
                            <th>Sub Total:</th>
                            <th>PO:</th>
                            <th>Tahun Anggaran:</th>
                            <th>Bulan Pengadaan:</th>
                            <th>Unit:</th>
                        </tr>
                    </thead>
                    <tbody> 
                        @foreach (var RekapPengadaanInvestasi in Model.RKI)
                       {
                        <tr>
                            <td>@RekapPengadaanInvestasi.NAMA_PENGADAAN</td>
                            <td>@RekapPengadaanInvestasi.MERK</td>
                            <td>@RekapPengadaanInvestasi.KATEGORI - @RekapPengadaanInvestasi.SUB_KATEGORI</td>
                            <td>@RekapPengadaanInvestasi.SPESIFIKASI</td>
                            <td>@RekapPengadaanInvestasi.JUMLAH</td>
                            <td>@RekapPengadaanInvestasi.SATUAN</td>
                            <td>@((RekapPengadaanInvestasi.HARGA_SATUAN).ToString("C0", culture))</td>
                            <td>@((RekapPengadaanInvestasi.JUMLAH * RekapPengadaanInvestasi.HARGA_SATUAN).ToString("C0", culture))</td>
                            <td>
                                @if(@RekapPengadaanInvestasi.IS_PO){
                                <span class="badge badge-success">Sudah PO</span>
                                }
                                else
                                {
                                <span class="badge badge-danger">Belum PO</span>
                                }
                            </td>
                            <td>@RekapPengadaanInvestasi.TAHUN_ANGGARAN</td>
                            <td>@RekapPengadaanInvestasi.BULAN_PENGADAAN</td>
                            <td>@RekapPengadaanInvestasi.ID_UNIT</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>

@section Scripts{
    @if (TempData["success"] != null){
        <script type="text/javascript">
            toastr.success('@TempData["success"].ToString()', 'Berhasil Memperoses');
        </script>
    }
    @if (TempData["error"] != null){
        <script type="text/javascript">
            toastr.error('@TempData["error"].ToString()', 'Gagal Memperoses');
        </script>
    }

    <script> 
        var tabelRekapPengadaanInvestasi;

        refreshTabelRekapPengadaanInvestasi();

        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });

        var tabel           = $('#tabelRekapPengadaanInvestasi').DataTable();
        
        $( document ).ready(function() {
            var totalPengadaan = tabel.column( 7 ).data().sum();
            $('#totalPengadaan').val(formatRupiah(totalPengadaan));
        });

        var formatRupiah = (number) => {
           return new Intl.NumberFormat('id-ID', { 
               style: 'currency', 
               currency: 'IDR', 
               minimumFractionDigits: 0 
           }).format(number);
        };

        function filterDataRekapPengadaanInvestasi(){
            var tahun   = $('#tahun').val();
            var bulan   = $('#bulan').val();
            var unit    = $('#unit').val();

            var tabel = $("#tabelRekapPengadaanInvestasi").DataTable();
            tabel.column(9).search(tahun ? '^'+tahun+'$' : '', true, false).column(10).search(bulan ? '^'+bulan+'$' : '', true, false).column(11).search(unit ? '^'+unit+'$' : '', true, false).order( [ 0, 'asc' ] ).draw();
        }

        function refreshTabelRekapPengadaanInvestasi() {
            tabelRekapRencanaPengadaanAset = $("#tabelRekapPengadaanInvestasi").DataTable({
                language: {
                    url: "../json/datatables-id.json"
                },
                columnDefs: [ {
                    targets     :   [9, 10, 11],
                    visible     : false,
                    searchable  : true,
                } ],
                paging: true,
                lengthChange: false,
                searching: true,
                ordering: true,
                info: true,
                autoWidth: false,
                responsive: true,
                buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"],
                initComplete: function () {
                    setTimeout( function () {
                        tabelRekapRencanaPengadaanAset.buttons().container().appendTo('#tabelRekapPengadaanInvestasi_wrapper .col-md-6:eq(0)')
                    }, 10 );
                }      
            });
        }

        function getKategori(IDRefSK){
            $.ajax({
                url: "/PengelolaanInvestasi/ajaxGetKategori",
                type: "POST",
                data: { "IDRefSK": IDRefSK },
                dataType: "json",
                success: function (result) {
                    var IDKategori = result.data;
                    $("#IDKategori").val(IDKategori);
                }
            })
        }

        function showSpesifikasiPengadaanInvestasiModal(IDDetailPencairanInvestasi) {
            $.ajax({
                url: "/PengelolaanInvestasi/ajaxGetSpesifikasiDetailPencairanInvestasi",
                type: "POST",
                data: { "IDDetailPencairanInvestasi": IDDetailPencairanInvestasi },
                dataType: "json",
                success: function (result) {
                    var spesifikasi = result.SPESIFIKASI;
                    $('#spesifikasi').html(spesifikasi);
                }
            })

            $('#SpesifikasiPengadaanInvestasiModal').modal('show');
        }

        function showRekapPengadaanInvestasi(){
            var IDTahunAnggaran = $("#tahunAnggaran").val();
            var bulanPengadaan  = $("#bulanPengadaan").val();

            $.ajax({
                url: "/PengelolaanInvestasi/ajaxGetDetailPencairanInvestasiPO",
                type: "POST",
                data: { "IDTahunAnggaran": IDTahunAnggaran, "bulanPengadaan": bulanPengadaan},
                dataType: "json",
                success: function (result) {
                    tabel.clear().draw();

                    for (var i = 0; i < result.data.length; i++) {
                        tabel.row.add([result.data[i].ID_DETAIL_PENCAIRAN_INVESTASI, result.data[i].NAMA_PENGADAAN , result.data[i].MERK, formatRupiah(result.data[i].HARGA_SATUAN), result.data[i].JUMLAH, formatRupiah(result.data[i].HARGA_SATUAN * result.data[i].JUMLAH)]).draw();
                    }
                }
            })
        }

        jQuery.fn.dataTable.Api.register( 'sum()', function ( ) {
	        return this.flatten().reduce( function ( a, b ) {
		        if ( typeof a === 'string' ) {
			        a = a.replace(/[^\d]/g, '') * 1;
		        }
		        if ( typeof b === 'string' ) {
			        b = b.replace(/[^\d]/g, '') * 1;
		        }

		        return a + b;
	        }, 0 );
        } );
    </script>
}