@using System.Globalization;

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Controller"] = "Pengelolaan Investasi";
    ViewData["Title"] = "Rekap Purchase Order Investasi";


    CultureInfo culture = new CultureInfo("id-ID");
}

@section Header{
    <link rel="stylesheet" href="~/lib/jquery-datatables-checkboxes-1.2.12/css/dataTables.checkboxes.css">
}

<div class="row">
	<div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Filter</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                         <div class="form-group">
                            <label>Tahun</label>
                            <select onchange="filterDataPencairanInvestasi()" id="tahun" class="form-control select2bs4" style="width: 100%;">
                                <option value="" selected>Semua tahun...</option>
                                @foreach (var tahun in Model.tahun)
                                {
                                <option value="@tahun.TAHUN_ANGGARAN">@tahun.TAHUN_ANGGARAN</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Bulan</label>
                            <select onchange="filterDataPencairanInvestasi()" id="bulan" class="form-control select2bs4" style="width: 100%;">
                                <option value="" selected>Semua bulan...</option>
                                <option value="Januari">Januari</option>
                                <option value="Februari">Februari</option>
                                <option value="Maret">Maret</option>
                                <option value="April">April</option>
                                <option value="Mei">Mei</option>
                                <option value="Juni">Juni</option>
                                <option value="Juli">Juli</option>
                                <option value="Agustus">Agustus</option>
                                <option value="September">September</option>
                                <option value="Oktober">Oktober</option>
                                <option value="November">November</option>
                                <option value="Desember">Desember</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->	
	</div>

    <div class="col-12">    
        <div class="card">
            <div class="card-body">
                <table id="tabelRekapPurchaseOrderInvestasi" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nomor PO:</th>
                            <th>Tanggal PO:</th>
                            <th class="none">Total Tanpa Pajak:</th>
                            <th class="none">Pajak:</th>
                            <th>Total Dengan Pajak:</th>
                            <th>Supplier:</th>
                            <th>Lunas:</th>
                            <th>Cetak:</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var PurchaseOrderInvestasi in Model.rekapPurchaseOrderInvestasi) { 
                        <tr>
                            <td>@PurchaseOrderInvestasi.NO_PO</td>
                            <td>@((PurchaseOrderInvestasi.TGL_PO).ToLongDateString())</td>
                            <td>@((PurchaseOrderInvestasi.TOTAL_PO_TANPA_PAJAK).ToString("C0", culture))</td>
                            <td>@((PurchaseOrderInvestasi.PAJAK).ToString("C0", culture))</td>
                            <td>@((PurchaseOrderInvestasi.TOTAL_DENGAN_PAJAK).ToString("C0", culture))</td>
                            <td>@PurchaseOrderInvestasi.SUPPLIER</td>
                            <td>
                                @if(@PurchaseOrderInvestasi.IS_LUNAS){
                                <span class="badge badge-success">Lunas</span>
                                }
                                else
                                {
                                <span class="badge badge-danger">Belum Lunas</span>
                                }
                            </td>
                            <td class="text-center">
                                <a data-toggle="modal" href="#PDFModal" onclick="showPDF(@PurchaseOrderInvestasi.NO_PO)" class="btn btn-primary btn-sm"> <i class="fas fa-print"> </i> </a>
                            </td>
                        </tr> 
                        }
                    </tbody>
                </table>                
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>


@section Scripts{
    <!-- Select -->
    <script src="~/lib/datatables-select/js/dataTables.select.min.js"></script>  
    <!-- CheckBox -->
    <script src="~/lib/jquery-datatables-checkboxes-1.2.12/js/dataTables.checkboxes.min.js"></script>


    @if (TempData["success"] != null){
        <script type="text/javascript">
            toastr.success('@TempData["success"].ToString()', 'Berhasil');
        </script>
    }
    @if (TempData["error"] != null){
        <script type="text/javascript">
            toastr.error('@TempData["error"].ToString()', 'Gagal');
        </script>
    }

    <script> 
        var tabelRekapPurchaseOrderInvestasi;

        refreshRekapPurchaseOrderInvestasi();

        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });

        var formatRupiah = (number) => {
           return new Intl.NumberFormat('id-ID', { 
               style: 'currency', 
               currency: 'IDR', 
               minimumFractionDigits: 0 
           }).format(number);
        };

        function refreshRekapPurchaseOrderInvestasi() {
            tabelRekapPurchaseOrderInvestasi = $("#tabelRekapPurchaseOrderInvestasi").DataTable({
                language: {
                    url: "../json/datatables-id.json"
                },
                paging: true,
                lengthChange: true,
                searching: true,
                ordering: true,
                info: true,
                autoWidth: false,
                columnDefs: [
                    { targets: 7, orderable: false}
                ],
                responsive: true
            }).buttons().container().appendTo('#tabelRekapPurchaseOrderInvestasi_wrapper .col-md-6:eq(0)');
        }

    </script>
}