@using System.Globalization;
@Html.AntiForgeryToken()

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Controller"] = "Pengelolaan Investasi";
    ViewData["Title"] = "Rekap Purchase Order Investasi";

    CultureInfo culture = new CultureInfo("id-ID");
    var IDUnitUser = User.Claims.Where(c => c.Type == "IDUnit").Select(c => c.Value).Single();
    var IDRoleUser = User.Claims.Where(c => c.Type == "IDRole").Select(c => c.Value).ToArray();
    var namaUnit = User.Claims.Where(c => c.Type == "namaUnit").Select(c => c.Value).Single();
}

@section Header{
    <link rel="stylesheet" href="~/lib/jquery-datatables-checkboxes-1.2.12/css/dataTables.checkboxes.css">
}

<div class="modal fade" id="HistoryRevisiModal" data-id="" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">History Revisi Purchase Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body table-responsive">
                    <table id="tabelRekapRevisiPurchaseOrderInvestasi" class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nomor PO:</th>
                                <th>Tanggal PO:</th>
                                <th>Supplier:</th>
                                <th class="none">Total Tanpa Pajak:</th>
                                <th class="none">Pajak:</th>
                                <th class="none">Diskon</th>
                                <th class="text-center">Total</th>
                                <th>Status:</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Dialog 1 End -->

<!-- Modal Dialog 2 -->
<div class="modal fade" id="SuratPemesananBarangModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Surat Pemesanan Barang</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="suratPemesananBarang" class="embed-responsive-item" srcdoc="" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btnPrintPDF" type="button" class="btn btn-primary">Cetak</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Dialog 2 End -->

<div class="row">
    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Cari data berdasarkan:</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label>Tahun</label>
                            <select id="tahun" class="form-control select2bs4" style="width: 100%">
                                <option value="" selected>Semua tahun...</option>
                                @foreach (var tahun in Model.tahun){
                                <option value="@tahun.ID_TAHUN_ANGGARAN">@tahun.TAHUN_ANGGARAN</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Bulan</label>
                            <select id="bulan" class="form-control select2bs4" style="width: 100%">
                                <option value="" selected>Semua bulan...</option>
                                <option value="Januari">Januari</option>
                                <option value="Februari">Februari</option>
                                <option value="Maret">Maret</option>
                                <option value="April">April</option>
                                <option value="Mei">Mei</option>
                                <option value="Juni">Juni</option>
                                <option value="Juli">Juli</option>
                                <option value="Agustus">Agustus</option>
                                <option value="September">September</option>
                                <option value="Oktober">Oktober</option>
                                <option value="November">November</option>
                                <option value="Desember">Desember</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Supplier</label>
                            <select id="supplier" class="form-control select2bs4" style="width: 100%">
                                <option value="" selected>Semua supplier...</option>
                                @foreach (var supplier in Model.supplier){
                                    <option value="@supplier.NAMA_SUPPLIER">@supplier.NAMA_SUPPLIER</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">    
        <div class="card">
            <div class="card-body">
                <table id="tabelRekapPurchaseOrderInvestasi" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nomor PO:</th>
                            <th>Tanggal PO:</th>
                            <th class="none">Supplier:</th>
                            <th class="none">Total Tanpa Pajak:</th>
                            <th class="none">Pajak:</th>
                            <th class="none">Diskon</th>
                            <th class="text-center">Total</th>
                            <th>Status:</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th id="totalPurchaseOrder" colspan="9" class="text-center">Total Rekap Purchase Order: Rp.0</th>
                        </tr>
                    </tfoot>
                </table>            
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        //Element Declaration
        let tabelRekapPurchaseOrderInvestasi;
        let tabelRekapRevisiPurchaseOrderInvestasi;

        let data = {};

        refreshTabelRekapPurchaseOrderInvestasi();
        refreshTabelRekapRevisiPurchaseOrderInvestasi();

        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });

        //Function Variabel
        let formatRupiah = (number) => {
            return new Intl.NumberFormat('id-ID', {
                style: 'currency',
                currency: 'IDR',
                minimumFractionDigits: 0
            }
            ).format(number);
        }

        let formatString = (value) => {
           return '"' + value + '"';
        };

        let formatDate = (date) => {
            return new Date(date).toLocaleDateString('id-ID', {
                day: 'numeric', month: 'long', year: 'numeric'
            });
        };

        function refreshTabelRekapPurchaseOrderInvestasi() {
            tabelRekapPurchaseOrderInvestasi = $("#tabelRekapPurchaseOrderInvestasi").DataTable({
                ajax: {
                    url: '/PengelolaanInvestasi/getRekapPurchaseOrderInvestasi',
                    type: 'POST',
                    dataSrc: 'data',
                    beforeSend: function (request) {
                        request.setRequestHeader("RequestVerificationToken", $('input[name="__RequestVerificationToken"]').val());
                    },
                },
                columns: [
                    { data: "NO_PO" },
                    {
                        data: "TGL_PO",
                        render: function (data, type, row, meta) {
                            return formatDate(data);
                        },
                    },
                    { data: "NAMA_SUPPLIER" },
                    {
                        data: "TOTAL_PO_TANPA_PAJAK",
                        render: function (data, type, row, meta) {
                            return formatRupiah(data);
                        },
                    },
                    {
                        data: "PAJAK",
                        render: function (data, type, row, meta) {
                            return data + "%";
                        },
                    },
                    {
                        data: "DISCOUNT",
                        render: function (data, type, row, meta) {
                            return formatRupiah(data);
                        },
                    },
                    {
                        data: "TOTAL_DENGAN_PAJAK",
                        render: function (data, type, row, meta) {
                            return formatRupiah(data);
                        },
                    },
                    {
                        data: "IS_LUNAS",
                        render: function (data, type, row, meta) {
                            if(data){
                                return type === 'display' ?
                                    '<span class="badge badge-success">< i class="fas fa-check" > </i> Lunas< /span>' : data;
                            }else{
                                return type === 'display' ?
                                    '<span class="badge badge-danger"><i class="fas fa-times"></i> Belum Lunas</span>' : data;
                            }
                        },
                    },
                    {
                        data: { ID_PO_INVESTASI: "ID_PO_INVESTASI", NO_PO : "NO_PO"},
                        render: function (data, type, row, meta) {
                            return type === 'display' ?
                                '<a id="btnShowPDF" data-id="'+ data.ID_PO_INVESTASI +'" data-toggle="modal" href="#SuratPemesananBarangModal" class="btn btn-success btn-sm my-1"> <i class="fas fa-print"> </i> Cetak Surat </a> <a id="btnShowHistoryRevisi" data-id="' + data.NO_PO + '" data-toggle="modal" href="#HistoryRevisiModal" class="btn btn-primary btn-sm my-1"> <i class="fas fa-history"> </i> History Revisi </a>' : data;
                        },
                    },
                ],
                language: {
                    url: "../json/datatables-id.json"
                },
                columnDefs: [
                    {
                        targets: [0,1,2,3,4,5,7],
                        className: "align-middle",
                    },
                    {
                        targets: 6,
                        className: "align-middle text-right",
                    },
                    { 
                        targets: 8, 
                        orderable: false,
                        className: "align-middle text-center",
                    },
                ],
                fixedHeader: {
                    header: true,
                    footer: true,
                },
                paging: true,
                lengthChange: true,
                searching: true,
                ordering: true,
                info: true,
                autoWidth: false,
                responsive: true
            });
        }

        function refreshTabelRekapRevisiPurchaseOrderInvestasi() {
            tabelRekapRevisiPurchaseOrderInvestasi = $("#tabelRekapRevisiPurchaseOrderInvestasi").DataTable({
                ajax: {
                    url: '/PengelolaanInvestasi/getRekapRevisiPurchaseOrderInvestasi',
                    type: 'POST',
                    data: function (d) {
                        return  $.extend(d, data);
                    },
                    dataSrc: 'data',
                    beforeSend: function (request) {
                        request.setRequestHeader("RequestVerificationToken", $('input[name="__RequestVerificationToken"]').val());
                    },
                },
                columns: [
                    { data: "NO_PO" },
                    {
                        data: "TGL_PO",
                        render: function (data, type, row, meta) {
                            return formatDate(data);
                        },
                    },
                    { data: "NAMA_SUPPLIER" },
                    {
                        data: "TOTAL_PO_TANPA_PAJAK",
                        render: function (data, type, row, meta) {
                            return formatRupiah(data);
                        },
                    },
                    {
                        data: "PAJAK",
                        render: function (data, type, row, meta) {
                            return data + "%";
                        },
                    },
                    {
                        data: "DISCOUNT",
                        render: function (data, type, row, meta) {
                            return formatRupiah(data);
                        },
                    },
                    {
                        data: "TOTAL_DENGAN_PAJAK",
                        render: function (data, type, row, meta) {
                            return formatRupiah(data);
                        },
                    },
                    {
                        data: "IS_LUNAS",
                        render: function (data, type, row, meta) {
                            if (data) {
                                return type === 'display' ?
                                    '<span class="badge badge-success">< i class="fas fa-check" > </i> Lunas< /span>' : data;
                            } else {
                                return type === 'display' ?
                                    '<span class="badge badge-danger"><i class="fas fa-times"></i> Belum Lunas</span>' : data;
                            }
                        },
                    },
                ],
                initComplete :function( settings, json){
                    $('#totalPurchaseOrder').html("Total Rekap Purchase Order: " + formatRupiah($("#tabelRekapPurchaseOrderInvestasi").DataTable().column(6).data().sum()));
                },
                language: {
                    url: "../json/datatables-id.json"
                },
                columnDefs: [
                    {
                        targets: [0,1,2,3,4,5,7],
                        className: "align-middle",
                    },
                    {
                        targets: 6,
                        className: "align-middle text-right",
                    },
                ],
                fixedHeader: {
                    header: true,
                    footer: true,
                },
                paging: true,
                lengthChange: true,
                searching: true,
                ordering: true,
                info: true,
                autoWidth: false,
                responsive: true
            });
        }

        //jQuery Function
        $(document).ready(function () {
            $("#HistoryRevisiModal").data("id", "");
        });

        $(document).on('show.bs.modal', '.modal', function () {
            var zIndex = 1040 + 10 * $('.modal:visible').length;
            $(this).css('z-index', zIndex);
            setTimeout(() => $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack'));
        });

        $("#tahun, #bulan, #supplier").on("change", function () {
            let tahun = $("#tahun").val();
            let bulan = $("#bulan").val();
            let supplier = $("#supplier").val();

            $("#tabelRekapPurchaseOrderInvestasi").DataTable()
                .column(1).search(bulan + " " +tahun)
                .column(2).search(supplier)
                .draw();
        });

        $("#tabelRekapPurchaseOrderInvestasi").on('click', '[id=btnShowHistoryRevisi]', function () {
            data.nomorPO = $(this).data("id");
            $("#tabelRekapRevisiPurchaseOrderInvestasi").DataTable().ajax.reload();
        });

        $("#tabelRekapPurchaseOrderInvestasi").on('click', '[id=btnShowPDF]', function () {
            $("#suratPemesananBarang").attr("srcdoc", "");
            $.ajax({
                url: "/PengelolaanInvestasi/SuratPemesananBarang",
                type: "POST",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: { IDPurchaseOrderInvestasi: $(this).data("id") },
                dataType: "json",
                success: function (result) {
                    $("#suratPemesananBarang").attr("srcdoc", result.result);
                },
            });
        });

        $("#btnPrintPDF").on('click', function () {
            let myIframe = document.getElementById("suratPemesananBarang").contentWindow;
            myIframe.focus();
            myIframe.print();
        });

        jQuery.fn.dataTable.Api.register('sum()', function () {
            return this.flatten().reduce(function (a, b) {
                if (typeof a === 'string') {
                    a = a.replace(/[^\d]/g, '') * 1;
                }
                if (typeof b === 'string') {
                    b = b.replace(/[^\d]/g, '') * 1;
                }

                return a + b;
            }, 0);
        });
    </script>
}