@using System;
@using System.Globalization;

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Rencana Pengadaan Aset";

    CultureInfo culture = new CultureInfo("id-ID");
    var IDUnitUser  = User.Claims.Where(c => c.Type == "IDUnit").Select(c => c.Value).Single();
    var IDRoleUser  = User.Claims.Where(c => c.Type == "IDRole").Select(c => c.Value).ToArray();
    var namaUnit    = User.Claims.Where(c => c.Type == "namaUnit").Select(c => c.Value).Single();
}

<!-- Modal Dialog 1 -->
<div class="modal fade" id="DetailRencanaKhususInvestasiModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detail Rencana Khusus Investasi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body table-responsive p-0">
                    <table id="tabelDetailRencanaKhususInvestasi" class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nama Kegiatan:</th>
                                <th>Bulan:</th>
                                <th>Jumlah:</th>
                                <th>Satuan:</th>
                                <th>Harga:</th>
                                <th>Total:</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyDetailRencanaKhususInvestasi"> 
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Dialog 1 End -->

<!-- Modal Dialog 2 -->
<div class="modal fade" id="DetailRencanaPengadaanAsetModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detail Pengadaan Aset</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="formDetailRencanaPengadaanAset" method="post" asp-action="addPencairanInvestasi" asp-controller="PengelolaanInvestasi" enctype="multipart/form-data" novalidate>
            @Html.AntiForgeryToken()
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="IDDetailPencairanInvestasi" name="IDDetailPencairanInvestasi" value="" readonly="readonly">
                    <input type="hidden" class="form-control" id="IDPencairanInvestasi" name="IDPencairanInvestasi" value="" readonly="readonly">
                    <input type="hidden" class="form-control" id="IDDetailRKA" name="IDDetailRKA" value="" readonly="readonly">
                    <input type="hidden" class="form-control" id="IDKategori" name="IDKategori" value="" readonly="readonly" required>
                    <input type="hidden" class="form-control" id="hargaSatuan" name="hargaSatuan" value="" readonly="readonly" required>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Kategori</label>
                                <select id="IDRefSK" name="IDRefSK" class="form-control select2bs4" onchange="getKategori(this.value)" required>
                                    <option value="" disabled selected>Pilih kategori</option>
                                    @foreach (var kategori in Model.kategori)
                                    {
                                    <option value="" disabled>@kategori.DESKRIPSI</option>
                                        @foreach (var subKategori in Model.subKategori)
                                        {
                                            if(@subKategori.ID_KATEGORI == @kategori.ID_KATEGORI)
                                            {
                                                <option value="@subKategori.ID_REF_SK">&emsp;@subKategori.DESKRIPSI</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Nama</label>
                                <input id="namaPengadaan" name="namaPengadaan" type="text" class="form-control" placeholder="Masukkan nama aset..." required>
                            </div>
                            <div class="form-group">
                                <label>Harga Satuan</label>
                                <input id="inpHargaSatuan" type="text" class="form-control" oninput="formatHarga(this.value)" placeholder="Masukkan harga satuan aset..." required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Merk</label>
                                <input id="merk" name="merk" type="text" class="form-control" placeholder="Masukkan merek aset..." required>
                            </div>  
                            <div class="form-group">
                                <label>Satuan</label>
                                <input id="satuan" name="satuan" type="text" class="form-control" placeholder="Masukan satuan aset..." required>
                            </div>
                            <div class="form-group">
                                <label>Jumlah</label>
                                <input id="jumlah" name="jumlah" type="number" class="form-control" placeholder="Masukkan jumlah aset..." required>
                            </div>
                        </div>                
                    </div>

                    <div class="form-group">
                        <label>Spesifikasi</label>
                        <textarea id="spesifikasi" name="spesifikasi" class="form-control" rows="3" placeholder="Masukkan spesifikasi aset..." required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="closeModalDetailRencanaPengadaanAset" type="button" class="btn btn-secondary" data-dismiss="modal">Keluar</button>
                    <button id="btnDetailRencanaPengadaanAset" type="submit" class="btn btn-primary"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal Dialog 2 End -->

<div class="row">
    <div class="col-12">
        <div class="card card-primary">
             <div class="card-header">
                <h3 class="card-title">Filter</h3>
            </div>
            
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                         <div class="form-group">
                            <label>Tahun</label>
                            <select onchange="filterDataRencanaPengadaanAset()" id="tahun" class="form-control select2bs4" style="width: 100%;">
                                <option value="" selected>Semua tahun...</option>
                                @foreach (var tahun in Model.tahun)
                                {
                                <option value="@tahun.TAHUN_ANGGARAN">@tahun.TAHUN_ANGGARAN</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Unit</label>
                            <select onchange="filterDataRencanaPengadaanAset()" id="unit" class="form-control select2bs4" style="width: 100%;">
                                <option value="" selected>Semua unit...</option>
                                @foreach (var unit in Model.unit)
                                {
                                    <option value="@unit.NAMA_UNIT">@unit.NAMA_UNIT</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <div class="card">
            <div class="card-body">
                <table id="tabelRencanaPengadaanAset" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Tahun:</th>
                            <th>Nama Unit:</th>
                            <th>Program Kegiatan:</th>
                            <th>Nama Program:</th>
                            <th>Detail</th>
                        </tr>
                    </thead>
                    <tbody> 
                        @foreach (var RencanaPengadaanAset in Model.RKA) { 
                        <tr>
                            <td>@RencanaPengadaanAset.TAHUN_ANGGARAN</td>
                            <td>@RencanaPengadaanAset.NAMA_UNIT</td>
                            <td>@RencanaPengadaanAset.PROGRAM_KEGIATAN</td>
                            <td>@RencanaPengadaanAset.NAMA_PROGRAM</td>
                            <td class="text-center">
                                <a data-toggle="modal" href="#DetailRencanaKhususInvestasiModal" onclick="showDetailRencanaKhususInvestasi(@RencanaPengadaanAset.ID_RKA)" class="btn btn-primary btn-sm"> <i class="fas fa-eye"> </i> </a>
                            </td>
                        </tr> 
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>

@section Scripts{

    @if(TempData["success"] != null){
        <script type="text/javascript">
            toastr.success('@TempData["success"].ToString()', 'Berhasil');
        </script>
    }
    @if(TempData["error"] != null){
        <script type="text/javascript">
            toastr.error('@TempData["error"].ToString()', 'Gagal');
        </script>
    }

    @if(Array.IndexOf(IDRoleUser, "9") != -1 && Array.IndexOf(IDRoleUser, "13") != -1 && Array.IndexOf(IDRoleUser, "14") != -1 || IDUnitUser != "0"){
        <script type="text/javascript">
            $('#unit').prop("disabled", true);
            $('#unit').val('@namaUnit');
        </script>
    }

    <script> 
        var tabelRencanaPengadaanAset;
        var tabelDetailRencanaKhususInvestasi;

        refreshTabelRencanaPengadaanAset();
        refreshTabelDetailRencanaKhususInvestasi();

        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });

        var formatRupiah = (number) => {
           return new Intl.NumberFormat('id-ID',{ 
               style: 'currency', 
               currency: 'IDR', 
               minimumFractionDigits: 0 }
           ).format(number);
        }

        var formatString = (value) => {
           return "'" + value + "'";
        };

        function formatHarga(input) {
            input = input.replace(/[^\d]/g, '') * 1;

            $("#hargaSatuan").val(input);
            $("#inpHargaSatuan").val(formatRupiah(input));
        }

        $(document).on('show.bs.modal', '.modal', function() {
            var zIndex = 1040 + 10 * $('.modal:visible').length;
            $(this).css('z-index', zIndex);
            setTimeout(() => $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack'));
        }); 


        $("#inpHargaSatuan").on('change', function() {
            console.log($(this).val());
        });

        $('#DetailRencanaPengadaanAsetModal').on('hidden.bs.modal', function() {
            var forms = document.getElementsByClassName('formDetailRencanaPengadaanAset');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.classList.remove('was-validated');
            });
        });

        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('formDetailRencanaPengadaanAset');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);

        function refreshTabelRencanaPengadaanAset() {
            tabelRencanaPengadaanAset = $("#tabelRencanaPengadaanAset").DataTable({
                language: {
                    url: "../json/datatables-id.json"
                },
                paging: true,
                lengthChange: false,
                searching: true,
                ordering: true,
                info: true,
                autoWidth: false,
                responsive: true,
                buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"],
                columnDefs: [
                    { targets: 4, orderable: false}
                ],
                initComplete: function () {
                    setTimeout( function () {
                        tabelRencanaPengadaanAset.buttons().container().appendTo('#tabelRencanaPengadaanAset_wrapper .col-md-6:eq(0)')
                    }, 10 );
                }
            });
        }

        function refreshTabelDetailRencanaKhususInvestasi() {
            tabelDetailRencanaKhususInvestasi = $("#tabelDetailRencanaKhususInvestasi").DataTable({
                language: {
                    url: "../json/datatables-id.json"
                },
                paging: true,
                pageLength: 3,
                lengthChange: true,
                searching: true,
                ordering: true,
                info: true,
                autoWidth: false,
                responsive: true,
                columnDefs: [
                    { targets: 6, orderable: false}
                ]
            });
        }

        function filterDataRencanaPengadaanAset(){
            var tahun   = $('#tahun').val();
            var unit    = $('#unit').val();

            var tabel = $("#tabelRencanaPengadaanAset").DataTable();
            tabel.column(0).search(tahun ? '^'+tahun+'$' : '', true, false).column(1).search(unit ? '^'+unit+'$' : '', true, false).order( [ 0, 'asc' ] ).draw();
        }

        function showDetailRencanaKhususInvestasi(IDRKA) {
            var tabelDetail = $('#tabelDetailRencanaKhususInvestasi').DataTable();

            $.ajax({
                url: "/PengelolaanInvestasi/ajaxGetDetailRencanaKhususInvestasi",
                type: "POST",
                data: { "IDRKA": IDRKA },
                dataType: "json",
                success: function (result) {
                    tabelDetail.clear().draw();
                    for (var i = 0; i < result.data.length; i++) {
                        if(result.data[i].ID_PENCAIRAN_INVESTASI == null){
                            tabelDetail.row.add([result.data[i].NAMA_KEGIATAN, result.data[i].BULAN, result.data[i].VOLUME, result.data[i].SATUAN, formatRupiah(result.data[i].HARGA_SATUAN), formatRupiah(result.data[i].SUBTOTAL), '<a data-toggle="modal" href="#DetailRencanaPengadaanAsetModal" onClick="addDetailRencanaPengadaanAset(' + result.data[i].ID_DTL_RKA + ',' + result.data[i].VOLUME + ',' + result.data[i].HARGA_SATUAN + ',' + formatString(result.data[i].SATUAN) + ')" type="button" class="btn btn-secondary btn-sm"><i class="fa fa-plus"></i></a>' ]).draw();
                        }else{
                            if(result.data[i].STATUS_APPROVAL){
                                tabelDetail.row.add([result.data[i].NAMA_KEGIATAN, result.data[i].BULAN, result.data[i].VOLUME, result.data[i].SATUAN, formatRupiah(result.data[i].HARGA_SATUAN), formatRupiah(result.data[i].SUBTOTAL), '<a data-toggle="modal" href="#DetailRencanaPengadaanAsetModal" onClick="showDetailRencanaPengadaanAset(' + result.data[i].ID_DETAIL_PENCAIRAN_INVESTASI + ')" type="button" class="btn btn-success btn-sm"><i class="fa fa-eye"></i></a>' ]).draw();
                            }
                            else
                            {
                                tabelDetail.row.add([result.data[i].NAMA_KEGIATAN, result.data[i].BULAN, result.data[i].VOLUME, result.data[i].SATUAN, formatRupiah(result.data[i].HARGA_SATUAN), formatRupiah(result.data[i].SUBTOTAL), '<a data-toggle="modal" href="#DetailRencanaPengadaanAsetModal" onClick="updateDetailRencanaPengadaanAset(' + result.data[i].ID_DETAIL_PENCAIRAN_INVESTASI + ')" type="button" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>' ]).draw();
                            }
                        }
                    }
                }
            })
        }

        function updateDetailRencanaPengadaanAset(IDDetailPencairanInvestasi) {
            $('#btnDetailRencanaPengadaanAset').html('Perbarui');
            formDisable(false);

            $('#IDDetailPencairanInvestasi').val(IDDetailPencairanInvestasi);
            $('#IDDetailRKA').val("");

            $.ajax({
                url: "/PengelolaanInvestasi/ajaxGetDetailRencanaPengadaanAset",
                type: "POST",
                data: { "IDDetailPencairanInvestasi": IDDetailPencairanInvestasi},
                dataType: "json",
                success: function (result) {
                    $('#IDPencairanInvestasi').val(result.data.ID_PENCAIRAN_INVESTASI);
                    $('#IDKategori').val(result.data.ID_KATEGORI);
                    $('#IDRefSK').val(result.data.ID_REF_SK).trigger('change');
                    $('#namaPengadaan').val(result.data.NAMA_PENGADAAN);
                    $('#satuan').val(result.data.SATUAN);
                    $('#merk').val(result.data.MERK);
                    $('#jumlah').val(result.data.JUMLAH);
                    $('#hargaSatuan').val(result.data.HARGA_SATUAN);
                    $('#inpHargaSatuan').val(formatRupiah(result.data.HARGA_SATUAN));
                    $('#spesifikasi').val(result.data.SPESIFIKASI);
                }
            })
        }

        function addDetailRencanaPengadaanAset(IDDetailRKA, volume, hargaSatuan, satuan) {
            $('#btnDetailRencanaPengadaanAset').html('Tambah');
            formDisable(false);

            $('#IDDetailPencairanInvestasi').val("");
            $('#IDDetailRKA').val(IDDetailRKA);

            $('#IDPencairanInvestasi').val("");
            $('#IDKategori').val("");
            $('#IDRefSK').val("").trigger('change');
            $('#namaPengadaan').val("");
            $('#satuan').val(satuan);
            $('#merk').val("");
            $('#jumlah').val(volume);
            $('#inpHargaSatuan').val(formatRupiah(hargaSatuan));
            $("#hargaSatuan").val(hargaSatuan);
            $('#spesifikasi').val("");
        }

        function showDetailRencanaPengadaanAset(IDDetailPencairanInvestasi) {
            $('#btnDetailRencanaPengadaanAset').html('Perbarui');
            formDisable(true);

            $('#IDDetailPencairanInvestasi').val(IDDetailPencairanInvestasi);
            $('#IDDetailRKA').val("");

            $.ajax({
                url: "/PengelolaanInvestasi/ajaxGetDetailRencanaPengadaanAset",
                type: "POST",
                data: { "IDDetailPencairanInvestasi": IDDetailPencairanInvestasi},
                dataType: "json",
                success: function (result) {
                    $('#IDPencairanInvestasi').val(result.data.ID_PENCAIRAN_INVESTASI);
                    $('#IDKategori').val(result.data.ID_KATEGORI);
                    $('#IDRefSK').val(result.data.ID_REF_SK).trigger('change');
                    $('#namaPengadaan').val(result.data.NAMA_PENGADAAN);
                    $('#satuan').val(result.data.SATUAN);
                    $('#merk').val(result.data.MERK);
                    $('#jumlah').val(result.data.JUMLAH);
                    $('#hargaSatuan').val(result.data.HARGA_SATUAN);
                    $('#inpHargaSatuan').val(formatRupiah(result.data.HARGA_SATUAN));
                    $('#spesifikasi').val(result.data.SPESIFIKASI);
                }
            })
        }

        function formDisable(bool) {
            $('#btnDetailRencanaPengadaanAset').prop('disabled', bool);

            $('#IDDetailPencairanInvestasi').attr('readonly', bool);
            $('#IDDetailRKA').attr('readonly', bool);

            $('#IDPencairanInvestasi').attr('readonly', bool);;

            $('#IDKategori').attr('readonly', bool);
            $('#IDRefSK').prop("disabled", bool);
            $('#namaPengadaan').attr('readonly', bool);
            $('#satuan').attr('readonly', bool);
            $('#merk').attr('readonly', bool);;
            $('#jumlah').attr('readonly', bool);
            $('#inpHargaSatuan').attr('readonly', bool);
            $("#hargaSatuan").attr('readonly', bool);
            $('#spesifikasi').attr('readonly', bool);
        }

        function getKategori(IDRefSK){
            $.ajax({
                url: "/PengelolaanInvestasi/ajaxGetKategori",
                type: "POST",
                data: { "IDRefSK": IDRefSK },
                dataType: "json",
                success: function (result) {
                    $("#IDKategori").val(result.data);
                }
            })
        }

    </script>
}