
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Rencana Pengadaan Aset";
}

<!-- Modal Dialog 1 -->
<div class="modal fade" id="DetailRencanaKhususInvestasiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detail Rencana Khusus Investasi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body table-responsive p-0">
                    <table id="tabelDetailRencanaKhususInvestasi" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Nama Kegiatan</th>
                                <th>Bulan</th>
                                <th>Jumlah</th>
                                <th>Satuan</th>
                                <th>Harga</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbodyDetailRencanaKhususInvestasi"> 
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Dialog 1 End -->

<!-- Modal Dialog 2 -->
<div class="modal fade" id="DetailRencanaPengadaanAset" tabindex="-1" role="dialog" style="overflow-y:scroll;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detail Pengadaan Aset</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="formDetailRencanaPengadaanAset" method="post" asp-action="addPencairanInvestasi" asp-controller="PengelolaanInvestasi" enctype="multipart/form-data" novalidate>
            @Html.AntiForgeryToken()
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="IDDetailRKA" name="IDDetailRKA" value="" required>
                    <input type="hidden" class="form-control" id="IDKategori" name="IDKategori" value="" required>
                    <div class="form-group">
                        <label>Kategori</label>
                        <select id="IDRefSK" name="IDRefSK" class="form-control" style="width: 100%;" onclick="getKategori(this.value)" required>
                            <option value="" style="display: none;" disabled selected>Pilih kategori</option>
                            @foreach (var kategori in Model.kategori)
                            {
                            <option value="" disabled>@kategori.DESKRIPSI</option>
                                @foreach (var subKategori in Model.subKategori)
                                {
                                    if(@subKategori.ID_KATEGORI == @kategori.ID_KATEGORI)
                                    {
                                        <option value="@subKategori.ID_REF_SK">&emsp;@subKategori.DESKRIPSI</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nama</label>
                                <input id="namaPengadaan" name="namaPengadaan" type="text" class="form-control" placeholder="Masukkan nama aset..." required>
                            </div>
                            <div class="form-group">
                                <label>Satuan</label>
                                <input id="satuan" name="satuan" type="text" class="form-control" placeholder="Masukan satuan aset..." required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Merk</label>
                                <input id="merk" name="merk" type="text" class="form-control" placeholder="Masukkan merek aset..." required>
                            </div>
                            <div class="form-group">
                                <label>Jumlah</label>
                                <input id="jumlah" name="jumlah" type="number" class="form-control" placeholder="Masukkan jumlah aset..." required>
                            </div>
                        </div>                    
                    </div>
                    <div class="form-group">
                        <label>Harga Satuan</label>
                        <input id="hargaSatuan" name="hargaSatuan" type="number" class="form-control" placeholder="Masukkan harga satuan aset..." required>
                    </div>
                    <div class="form-group">
                        <label>Spesifikasi</label>
                        <textarea id="spesifikasi" name="spesifikasi" class="form-control" rows="3" placeholder="Masukkan spesifikasi aset..." required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="closeModalDetailRencanaPengadaanAset" type="button" class="btn btn-secondary" data-dismiss="modal">Keluar</button>
                    <button id="btnDetailRencanaPengadaanAset" type="submit" class="btn btn-primary"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal Dialog 2 End -->

<div class="row">
    <div class="col-12">
        @if (TempData["success"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert" style="background-color:green">
                <strong>@TempData["success"].ToString()</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>@TempData["error"].ToString()</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div class="card">
            <div class="card-header">
                <div class="form-group">
                    <label>Tahun</label>
                    <select class="form-control" style="width: 100%;">
                        <option value="" style="display: none;" disabled selected>Pilih unit</option>
                        @foreach (var tahun in Model.tahun)
                       {
                        <option value="@tahun.ID_TAHUN_ANGGARAN">@tahun.TAHUN_ANGGARAN</option>
                       }
                    </select>
                </div>
                <div class="form-group">
                    <label>Unit</label>
                    <select class="form-control" style="width: 100%;">
                        <option value="" style="display: none;" disabled selected>Pilih unit</option>
                        @foreach (var unit in Model.unit)
                       {
                        <option value="@unit.ID_UNIT">@unit.NAMA_UNIT</option>
                       }
                    </select>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="tabelRencanaPengadaanAset" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">Tahun:</th>
                            <th class="text-center">Nama Unit:</th>
                            <th class="text-center">Program Kegiatan:</th>
                            <th class="text-center">Nama Program:</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody> 
                        @foreach (var RencanaPengadaanAset in Model.RKA) { 
                        <tr>
                            <td>@RencanaPengadaanAset.TAHUN_ANGGARAN</td>
                            <td>@RencanaPengadaanAset.NAMA_UNIT</td>
                            <td>@RencanaPengadaanAset.PROGRAM_KEGIATAN</td>
                            <td>@RencanaPengadaanAset.NAMA_PROGRAM</td>
                            <td>
                                <button onclick="showDetailRencanaKhususInvestasiModal(@RencanaPengadaanAset.ID_RKA)" type="button" class="btn btn-primary btn-block btn-sm"><i class="fa fa-eye"></i></button>
                            </td>
                        </tr> 
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Tahun</th>
                            <th>Nama Unit</th>
                            <th>Program Kegiatan</th>
                            <th>Nama Program</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>

@section Scripts{
    <script> 
        var tabelRencanaPengadaanAset;
        var tabelDetailRencanaKhususInvestasi;

        refreshTabelRencanaPengadaanAset();
        refreshTabelDetailRencanaKhususInvestasi();

        $('.select2').select2();

        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });

        $('#DetailRencanaPengadaanAset').on('hidden.bs.modal', function() {
            $('#DetailRencanaPengadaanAset').modal('hide');
            $('#DetailRencanaKhususInvestasiModal').modal('show');

            var forms = document.getElementsByClassName('formDetailRencanaPengadaanAset');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.classList.remove('was-validated');
            });
        });

        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('formDetailRencanaPengadaanAset');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);

        function refreshTabelRencanaPengadaanAset() {
            tabelRencanaPengadaanAset = $("#tabelRencanaPengadaanAset").DataTable({
                paging: true,
                lengthChange: false,
                searching: true,
                ordering: true,
                info: true,
                autoWidth: false,
                responsive: true,
                buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"],
            }).buttons().container().appendTo('#tabelRencanaPengadaanAset_wrapper .col-md-6:eq(0)');
        }

        function refreshTabelDetailRencanaKhususInvestasi() {
            tabelDetailRencanaKhususInvestasi = $("#tabelDetailRencanaKhususInvestasi").DataTable({
                paging: true,
                pageLength: 3,
                lengthChange: false,
                searching: true,
                ordering: true,
                info: true,
                autoWidth: false,
                responsive: true,
            });
        }

        function showDetailRencanaKhususInvestasiModal(id) {
            $('#DetailRencanaKhususInvestasiModal').modal('show');
            $('#DetailRencanaPengadaanAset').modal('hide');

            $.ajax({
                url: "/PengelolaanInvestasi/ajaxGetDetailRencanaKhususInvestasi",
                type: "POST",
                data: { "id": id },
                dataType: "json",
                success: function (result) {
                    var dtlRencanaKhususInvestasi = result.data;
                    var str = '';

                    for (var i = 0; i < dtlRencanaKhususInvestasi.length; i++) {
                        if(dtlRencanaKhususInvestasi[i].ID_DTL_RKA == null){
                            str += '<tr> <td>' + dtlRencanaKhususInvestasi[i].NAMA_KEGIATAN + '</td> <td>' + dtlRencanaKhususInvestasi[i].BULAN + '</td> <td>' + dtlRencanaKhususInvestasi[i].VOLUME + '</td> <td>' + dtlRencanaKhususInvestasi[i].SATUAN + '</td> <td>' + dtlRencanaKhususInvestasi[i].HARGA_SATUAN + '</td> <td>' + dtlRencanaKhususInvestasi[i].SUBTOTAL + '</td> <td> <button onClick="addDetailRencanaPengadaanAset(' + dtlRencanaKhususInvestasi[i].DTL_RKA + ')" type="button" class="btn btn-secondary btn-block btn-sm"><i class="fa fa-plus"></i></button> </td> </tr>';
                        }else{
                            str += '<tr> <td>' + dtlRencanaKhususInvestasi[i].NAMA_KEGIATAN + '</td> <td>' + dtlRencanaKhususInvestasi[i].BULAN + '</td> <td>' + dtlRencanaKhususInvestasi[i].VOLUME + '</td> <td>' + dtlRencanaKhususInvestasi[i].SATUAN + '</td> <td>' + dtlRencanaKhususInvestasi[i].HARGA_SATUAN + '</td> <td>' + dtlRencanaKhususInvestasi[i].SUBTOTAL + '</td> <td> <button onClick="updateDetailRencanaPengadaanAset(' + dtlRencanaKhususInvestasi[i].DTL_RKA + ')" type="button" class="btn btn-success btn-block btn-sm"> <i class="fa fa-edit"></i></button> </td> </tr>';
                        }
                    }

                    tabelDetailRencanaKhususInvestasi.destroy();
                    $("#tbodyDetailRencanaKhususInvestasi").html(str);
                    refreshTabelDetailRencanaKhususInvestasi();
                }
            })
        }

        function updateDetailRencanaPengadaanAset(IDDetailRKA) {
            $('#DetailRencanaPengadaanAset').modal('show');
            $('#DetailRencanaKhususInvestasiModal').modal('hide');
            $('#btnDetailRencanaPengadaanAset').html('Perbarui');
            $('#IDDetailRKA').val(IDDetailRKA);
            $('#IDRefSK').prop( "disabled", false );

            $.ajax({
                url: "/PengelolaanInvestasi/ajaxGetDetailRencanaPengadaanAset",
                type: "POST",
                data: { "IDDetailRKA": IDDetailRKA},
                dataType: "json",
                success: function (result) {
                    var data = result.data;

                    $('#IDKategori').val(data.ID_KATEGORI);
                    $('#IDRefSK').val(data.ID_REF_SK);
                    $('#namaPengadaan').val(data.NAMA_PENGADAAN);
                    $('#satuan').val(data.SATUAN);
                    $('#merk').val(data.MERK);
                    $('#jumlah').val(data.JUMLAH);
                    $('#hargaSatuan').val(data.HARGA_SATUAN);
                    $('#spesifikasi').val(data.SPESIFIKASI);
                }
            })
        }

        function addDetailRencanaPengadaanAset(IDDetailRKA) {
            $('#DetailRencanaPengadaanAset').modal('show');
            $('#DetailRencanaKhususInvestasiModal').modal('hide');
            $('#btnDetailRencanaPengadaanAset').html('Tambah');

            $('#IDDetailRKA').val(IDDetailRKA);
            $('#IDKategori').val("");
            $('#IDRefSK').val("");
            $('#namaPengadaan').val("");
            $('#satuan').val("");
            $('#merk').val("");
            $('#jumlah').val("");
            $('#hargaSatuan').val("");
            $('#spesifikasi').val("");
        }

        function getKategori(IDRefSK){
            $.ajax({
                url: "/PengelolaanInvestasi/ajaxGetKategori",
                type: "POST",
                data: { "IDRefSK": IDRefSK },
                dataType: "json",
                success: function (result) {
                    var IDKategori = result.data;

                    $("#IDKategori").val(IDKategori);
                }
            })
        }

    </script>
}