@using System;
@using System.Globalization;
@Html.AntiForgeryToken()

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Controller"] = "Pengelolaan Investasi";
    ViewData["Title"] = "Rencana Pengadaan Aset";

    CultureInfo culture = new CultureInfo("id-ID");
    var IDUnitUser = User.Claims.Where(c => c.Type == "IDUnit").Select(c => c.Value).Single();
    var IDRoleUser = User.Claims.Where(c => c.Type == "IDRole").Select(c => c.Value).ToArray();
    var namaUnit = User.Claims.Where(c => c.Type == "namaUnit").Select(c => c.Value).Single();
}

<!-- Modal Dialog 1 -->
<div class="modal fade" id="detailRencanaKhususInvestasiModal" data-IDRKA="" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detail Rencana Khusus Investasi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body table-responsive">
                    <table id="tabelDetailRencanaKhususInvestasi" class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nama Kegiatan:</th>
                                <th>Bulan:</th>
                                <th class="text-center">Jumlah:</th>
                                <th>Satuan:</th>
                                <th class="text-center">Harga:</th>
                                <th class="text-center">Total:</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyDetailRencanaKhususInvestasi"> 
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Dialog 1 End -->

<!-- Modal Dialog 2 -->
<div class="modal fade" id="detailRencanaPengadaanAsetModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detail Pengadaan Aset</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" id="formDetailRencanaPengadaanAset" enctype="multipart/form-data" novalidate>
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="IDDetailRKA" name="IDDetailRKA" value="" readonly="readonly" />
                    <input type="hidden" class="form-control" id="IDDetailPencairanInvestasi" name="IDDetailPencairanInvestasi" value="" readonly="readonly" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Kategori</label>
                                <select id="IDRefSK" name="IDRefSK" class="form-control select2bs4" required>
                                    <option value="" disabled selected>Pilih kategori</option>
                                    @foreach (var kategori in Model.kategori) {
                                    <option value="" disabled>@kategori.DESKRIPSI</option>
                                    @foreach (var subKategori in Model.subKategori) { 
                                    if (@subKategori.ID_KATEGORI == @kategori.ID_KATEGORI) {
                                    <option value="@kategori.ID_KATEGORI,@subKategori.ID_REF_SK">&emsp;@subKategori.DESKRIPSI</option>
                                    }}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nama</label>
                                <input id="namaPengadaan" name="namaPengadaan" type="text" class="form-control" placeholder="Masukkan nama aset..." required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Merk</label>
                                <input id="merk" name="merk" type="text" class="form-control" placeholder="Masukkan merek aset..." required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Satuan</label>
                                <input id="satuan" name="satuan" type="text" class="form-control" placeholder="Masukan satuan aset..." required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Jumlah</label>
                                <input id="jumlah" name="jumlah" type="number" class="form-control" min="1" placeholder="Masukkan jumlah aset..." required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Harga Satuan</label>
                                <input id="hargaSatuan" name="hargaSatuan" type="text" class="form-control" placeholder="Masukkan harga satuan aset..." required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Spesifikasi</label>
                                <textarea id="spesifikasi" name="spesifikasi" class="form-control" rows="3" placeholder="Masukkan spesifikasi aset..." required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Keluar</button>
                    <button type="submit" class="btn btn-primary"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal Dialog 2 End -->

<!-- Modal Dialog 3 -->
<div class="modal fade" id="showDetailRencanaPengadaanAsetModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detail Pengadaan Aset</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Kategori</label>
                            <select id="IDRefSK" name="IDRefSK" class="form-control select2bs4">
                                <option value="" disabled selected>Pilih kategori</option>
                                @foreach (var kategori in Model.kategori) {
                                <option value="" disabled>@kategori.DESKRIPSI</option>
                                @foreach (var subKategori in Model.subKategori) { 
                                if (@subKategori.ID_KATEGORI == @kategori.ID_KATEGORI) {
                                <option value="@kategori.ID_KATEGORI,@subKategori.ID_REF_SK">&emsp;@subKategori.DESKRIPSI</option>
                                } } }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nama</label>
                            <input id="namaPengadaan" name="namaPengadaan" type="text" class="form-control" placeholder="Masukkan nama aset..." readonly />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Merk</label>
                            <input id="merk" name="merk" type="text" class="form-control" placeholder="Masukkan merek aset..." readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Satuan</label>
                            <input id="satuan" name="satuan" type="text" class="form-control" placeholder="Masukan satuan aset..." readonly />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Jumlah</label>
                            <input id="jumlah" name="jumlah" type="number" class="form-control" placeholder="Masukkan jumlah aset..." readonly />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Harga Satuan</label>
                            <input id="hargaSatuan" type="text" class="form-control" placeholder="Masukkan harga satuan aset..." readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Spesifikasi</label>
                            <textarea id="spesifikasi" name="spesifikasi" class="form-control" rows="3" placeholder="Masukkan spesifikasi aset..." readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Keluar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Dialog 3 End -->

<div class="row">
    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Cari data berdasarkan:</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Tahun</label>
                        <select id="tahun" class="form-control select2bs4" style="width: 100%">
                            <option value="" selected>Semua tahun...</option>
                            @foreach (var tahun in Model.tahun) {
                            <option value="@tahun.TAHUN_ANGGARAN">@tahun.TAHUN_ANGGARAN</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Unit</label>
                        <select id="unit" class="form-control select2bs4" style="width: 100%">
                            @if(Array.IndexOf(IDRoleUser, "9") != -1) {
                            <option value="" selected>Semua unit...</option>
                            }
                            @foreach (var unit in Model.unit) {
                            <option value="@unit.ID_UNIT">@unit.NAMA_UNIT</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Sub Unit</label>
                        <select id="subUnit" class="form-control select2bs4" style="width: 100%">
                            <option value="" selected>Semua sub unit...</option>
                            @foreach (var subUnit in Model.subUnit) {
                            <option value="@subUnit.NAMA_UNIT">@subUnit.NAMA_UNIT</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="tabelRencanaPengadaanAset" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Tahun:</th>
                            <th style="color:transparent;">Unit:</th>
                            <th>Sub Unit:</th>
                            <th>Program Kegiatan:</th>
                            <th>Nama Program:</th>
                            <th>Detail</th>
                        </tr>
                    </thead>
                    <tbody> 
                        @foreach (var RencanaPengadaanAset in Model.RPA) {
                            <tr>
                                <td>@RencanaPengadaanAset.TAHUN_ANGGARAN</td>
                                <td style="color:transparent;">@RencanaPengadaanAset.MST_ID_UNIT</td>
                                <td>@RencanaPengadaanAset.NAMA_UNIT</td>
                                <td>@RencanaPengadaanAset.PROGRAM_KEGIATAN</td>
                                <td>@RencanaPengadaanAset.NAMA_PROGRAM</td>
                                <td class="text-center">
                                    <a id="btnShowDetailRencanaKhususInvestasi" data-toggle="modal" href="#detailRencanaKhususInvestasiModal" data-idrka="@RencanaPengadaanAset.ID_RKA" class="btn btn-primary btn-sm"> <i class="fas fa-eye"> </i> </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>

@section Scripts{
    <script>
        //Element Declaration
        let tabelRencanaPengadaanAset;
        let tabelDetailRencanaKhususInvestasi;

        refreshTabelRencanaPengadaanAset();
        refreshTabelDetailRencanaKhususInvestasi();

        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });

        $('#formDetailRencanaPengadaanAset .select2bs4').select2({
            theme: 'bootstrap4'
        });

        //Function Variabel
        let formatRupiah = (number) => {
           return new Intl.NumberFormat('id-ID',{ 
               style: 'currency', 
               currency: 'IDR', 
               minimumFractionDigits: 0 }
           ).format(number);
        }

        let formatString = (value) => {
           return "'" + value + "'";
        };

        function refreshTabelRencanaPengadaanAset() {
            tabelRencanaPengadaanAset = $("#tabelRencanaPengadaanAset").DataTable({
                language: {
                    url: "../json/datatables-id.json"
                },
                columnDefs: [
                    { targets: 1, visible: false},
                    { targets: 5, orderable: false},
                ],
                fixedHeader: {
                    header: true,
                    footer: true,
                },
                paging: true,
                lengthChange: true,
                searching: true,
                ordering: true,
                info: true,
                autoWidth: false,
                responsive: true,
                pagingType: $(window).width() < 768 ? "simple" : "simple_numbers",
            });
        }

        function refreshTabelDetailRencanaKhususInvestasi() {
            tabelDetailRencanaKhususInvestasi = $("#tabelDetailRencanaKhususInvestasi").DataTable({
                language: {
                    url: "../json/datatables-id.json"
                },
                columnDefs: [
                    { 
                        targets: 6, 
                        orderable: false 
                    },
                    { 
                        targets: 2, 
                        className: "text-center",
                    },
                    { 
                        targets: [4,5], 
                        className: "text-right",
                    },
                ],
                fixedHeader: {
                    header: true,
                    footer: true,
                },
                paging: true,
                pageLength: 5,
                lengthChange: true,
                searching: true,
                ordering: true,
                info: true,
                autoWidth: false,
                responsive: true,
                pagingType: $(window).width() < 768 ? "simple" : "simple_numbers",
            });
        }

        //jQuery Function
        $('#detailRencanaKhususInvestasiModal').on('shown.bs.modal', function (e) {
            $("#tabelDetailRencanaKhususInvestasi").DataTable().columns.adjust().responsive.recalc();
        });

        $('#detailRencanaPengadaanAsetModal').on('hidden.bs.modal', function (e) {
            $('#formDetailRencanaPengadaanAset').removeClass('was-validated');
        });

        $(document).on('show.bs.modal', '.modal', function() {
            var zIndex = 1040 + 10 * $('.modal:visible').length;
            $(this).css('z-index', zIndex);
            setTimeout(() => $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack'));
        });

        $("#tahun, #unit, #subUnit").on('change', function() {
            let tahun   = $('#tahun').val();
            let unit    = $('#unit').val();
            let subUnit = $('#subUnit').val();

            $("#tabelRencanaPengadaanAset").DataTable()
            .column(0).search(tahun ? '^' + tahun + '\\s*$' : '', true, false)
            .column(1).search(unit ? '^' + unit + '\\s*$' : '', true, false)
            .column(2).search(subUnit ? '^' + subUnit + '\\s*$' : '', true, false)
            .order([0, 'asc']).draw();
        });

        $("#hargaSatuan").on('input', function () {
            let hargaSatuan = $(this).val();
            $("#hargaSatuan").val(formatRupiah(hargaSatuan.replace(/[^\d]/g, '') * 1));
        });

        $('[id=btnShowDetailRencanaKhususInvestasi]').on('click', function (e) {
            $('#detailRencanaKhususInvestasiModal').data('idrka', $(this).data("idrka"));
            let tabelDetailRencanaKhususInvestasi = $('#tabelDetailRencanaKhususInvestasi').DataTable();

             $.ajax({
                url: "/PengelolaanInvestasi/getDetailRencanaKhususInvestasi",
                type: "POST",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: { "IDRKA": $(this).data("idrka") },
                dataType: "json",
                success: function (result) {
                    tabelDetailRencanaKhususInvestasi.clear().draw();
                    for (var i = 0; i < result.data.length; i++) {
                        if(result.data[i].ID_PENCAIRAN_INVESTASI == null){
                            tabelDetailRencanaKhususInvestasi.row.add([
                                result.data[i].NAMA_KEGIATAN, 
                                result.data[i].BULAN, 
                                result.data[i].VOLUME, 
                                result.data[i].SATUAN, 
                                formatRupiah(result.data[i].HARGA_SATUAN), 
                                formatRupiah(result.data[i].SUBTOTAL), 
                                '<a id="btnAddDetailRencanaPengadaanAset" data-IDDetailRKA="' + result.data[i].ID_DTL_RKA + '" data-satuan="' + result.data[i].SATUAN + '" data-jumlah="' + result.data[i].VOLUME + '" data-hargaSatuan="' + formatRupiah(result.data[i].HARGA_SATUAN) + '" data-toggle="modal" href="#detailRencanaPengadaanAsetModal" type="button" class="btn btn-secondary btn-sm"><i class="fa fa-plus"></i></a>'
                            ]).draw();
                        }else{
                            if(result.data[i].STATUS_APPROVAL){
                                tabelDetailRencanaKhususInvestasi.row.add([
                                    result.data[i].NAMA_KEGIATAN, 
                                    result.data[i].BULAN, 
                                    result.data[i].VOLUME, 
                                    result.data[i].SATUAN, 
                                    formatRupiah(result.data[i].HARGA_SATUAN), 
                                    formatRupiah(result.data[i].SUBTOTAL), 
                                    '<a id="btnShowDetailRencanaPengadaanAset" data-IDDetailPencairanInvestasi="' + result.data[i].ID_DETAIL_PENCAIRAN_INVESTASI + '" data-toggle="modal" href="#showDetailRencanaPengadaanAsetModal" type="button" class="btn btn-success btn-sm"><i class="fa fa-eye"></i></a>'
                                ]).draw();
                            }
                            else
                            {
                                tabelDetailRencanaKhususInvestasi.row.add([
                                    result.data[i].NAMA_KEGIATAN, 
                                    result.data[i].BULAN, 
                                    result.data[i].VOLUME, 
                                    result.data[i].SATUAN, 
                                    formatRupiah(result.data[i].HARGA_SATUAN), 
                                    formatRupiah(result.data[i].SUBTOTAL),
                                    '<a id="btnUpdateDetailRencanaPengadaanAset" data-IDDetailRKA="' + result.data[i].ID_DTL_RKA + '" data-IDDetailPencairanInvestasi="' + result.data[i].ID_DETAIL_PENCAIRAN_INVESTASI + '" data-toggle="modal" href="#detailRencanaPengadaanAsetModal" type="button" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>'
                                ]).draw();
                            }
                        }
                    }
                }
            })           
        });

        $('#detailRencanaKhususInvestasiModal').on('click', '[id="btnShowDetailRencanaPengadaanAset"]', function (e) {
            $('#showDetailRencanaPengadaanAsetModal #IDRefSK').prop("disabled", true);

            $.ajax({
                url: "/PengelolaanInvestasi/getDetailRencanaPengadaanAset",
                type: "POST",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: { "IDDetailPencairanInvestasi": $(this).data("iddetailpencairaninvestasi") },
                dataType: "json",
                success: function (result) {
                    $('#showDetailRencanaPengadaanAsetModal #IDRefSK').val(result.data.ID_KATEGORI+','+result.data.ID_REF_SK).trigger('change');
                    $('#showDetailRencanaPengadaanAsetModal #namaPengadaan').val(result.data.NAMA_PENGADAAN);
                    $('#showDetailRencanaPengadaanAsetModal #satuan').val(result.data.SATUAN);
                    $('#showDetailRencanaPengadaanAsetModal #merk').val(result.data.MERK);
                    $('#showDetailRencanaPengadaanAsetModal #jumlah').val(result.data.JUMLAH);
                    $('#showDetailRencanaPengadaanAsetModal #hargaSatuan').val(formatRupiah(result.data.HARGA_SATUAN));
                    $('#showDetailRencanaPengadaanAsetModal #spesifikasi').val(result.data.SPESIFIKASI);
                }
            });
        });

        $('#detailRencanaKhususInvestasiModal').on('click', '[id="btnAddDetailRencanaPengadaanAset"]', function (e) {
            $('#formDetailRencanaPengadaanAset :submit').html('Tambah');

            $('#formDetailRencanaPengadaanAset #IDDetailPencairanInvestasi').val("");
            $('#formDetailRencanaPengadaanAset #IDDetailRKA').val($(this).data("iddetailrka"));

            $('#formDetailRencanaPengadaanAset #IDRefSK').val("").trigger('change');
            $('#formDetailRencanaPengadaanAset #namaPengadaan').val("");
            $('#formDetailRencanaPengadaanAset #satuan').val($(this).data("satuan"));
            $('#formDetailRencanaPengadaanAset #merk').val("");
            $('#formDetailRencanaPengadaanAset #jumlah').val($(this).data("jumlah"));
            $("#formDetailRencanaPengadaanAset #hargaSatuan").val($(this).data("hargasatuan"));
            $('#formDetailRencanaPengadaanAset #spesifikasi').val("");
        });

        $('#detailRencanaKhususInvestasiModal').on('click', '[id="btnUpdateDetailRencanaPengadaanAset"]', function (e) {
            $('#formDetailRencanaPengadaanAset :submit').html('Perbarui');
            $('#formDetailRencanaPengadaanAset #IDDetailPencairanInvestasi').val($(this).data("iddetailpencairaninvestasi"));
            $('#formDetailRencanaPengadaanAset #IDDetailRKA').val($(this).data("iddetailrka"));

            $.ajax({
                url: "/PengelolaanInvestasi/getDetailRencanaPengadaanAset",
                type: "POST",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: { "IDDetailPencairanInvestasi": $(this).data("iddetailpencairaninvestasi") },
                dataType: "json",
                success: function (result) {
                    $('#formDetailRencanaPengadaanAset #IDRefSK').val(result.data.ID_KATEGORI + ',' + result.data.ID_REF_SK).trigger('change');
                    $('#formDetailRencanaPengadaanAset #namaPengadaan').val(result.data.NAMA_PENGADAAN);
                    $('#formDetailRencanaPengadaanAset #satuan').val(result.data.SATUAN);
                    $('#formDetailRencanaPengadaanAset #merk').val(result.data.MERK);
                    $('#formDetailRencanaPengadaanAset #jumlah').val(result.data.JUMLAH);
                    $("#formDetailRencanaPengadaanAset #hargaSatuan").val(formatRupiah(result.data.HARGA_SATUAN));
                    $('#formDetailRencanaPengadaanAset #spesifikasi').val(result.data.SPESIFIKASI);
                }
            });
        });

        $("#formDetailRencanaPengadaanAset").submit(function () {
            if ($(this)[0].checkValidity() === false) {
                event.preventDefault()
                event.stopPropagation()
            }else{
                let formData = Object.fromEntries(new FormData(event.target).entries());
                formData.hargaSatuan = formData.hargaSatuan.replace(/[^\d]/g, '') * 1;

                $.ajax({
                    url: "/PengelolaanInvestasi/addUpdatePencairanInvestasi",
                    type: "POST",
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    data: formData,
                    dataType: "json",
                    success: function (result) {
                        if (!result.status) {
                            toastr.error(result.pesan, 'Gagal');
                        } else {
                            toastr.success(result.pesan, 'Berhasil');
                            let tabelDetailRencanaKhususInvestasi = $('#tabelDetailRencanaKhususInvestasi').DataTable();

                            $.ajax({
                                url: "/PengelolaanInvestasi/getDetailRencanaKhususInvestasi",
                                type: "POST",
                                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                                data: { "IDRKA": $('#detailRencanaKhususInvestasiModal').data("idrka") },
                                dataType: "json",
                                success: function (result) {
                                    tabelDetailRencanaKhususInvestasi.clear().draw();
                                    for (var i = 0; i < result.data.length; i++) {
                                        if (result.data[i].ID_PENCAIRAN_INVESTASI == null) {
                                            tabelDetailRencanaKhususInvestasi.row.add([
                                                result.data[i].NAMA_KEGIATAN,
                                                result.data[i].BULAN,
                                                result.data[i].VOLUME,
                                                result.data[i].SATUAN,
                                                formatRupiah(result.data[i].HARGA_SATUAN),
                                                formatRupiah(result.data[i].SUBTOTAL),
                                                '<a id="btnAddDetailRencanaPengadaanAset" data-IDDetailRKA="' + result.data[i].ID_DTL_RKA + '" data-satuan="' + result.data[i].SATUAN + '" data-jumlah="' + result.data[i].VOLUME + '" data-hargaSatuan="' + formatRupiah(result.data[i].HARGA_SATUAN) + '" data-toggle="modal" href="#detailRencanaPengadaanAsetModal" type="button" class="btn btn-secondary btn-sm"><i class="fa fa-plus"></i></a>'
                                            ]).draw();
                                        } else {
                                            if (result.data[i].STATUS_APPROVAL) {
                                                tabelDetailRencanaKhususInvestasi.row.add([
                                                    result.data[i].NAMA_KEGIATAN,
                                                    result.data[i].BULAN,
                                                    result.data[i].VOLUME,
                                                    result.data[i].SATUAN,
                                                    formatRupiah(result.data[i].HARGA_SATUAN),
                                                    formatRupiah(result.data[i].SUBTOTAL),
                                                    '<a id="btnShowDetailRencanaPengadaanAset" data-IDDetailPencairanInvestasi="' + result.data[i].ID_DETAIL_PENCAIRAN_INVESTASI + '" data-toggle="modal" href="#showDetailRencanaPengadaanAsetModal" type="button" class="btn btn-success btn-sm"><i class="fa fa-eye"></i></a>'
                                                ]).draw();
                                            }
                                            else {
                                                tabelDetailRencanaKhususInvestasi.row.add([
                                                    result.data[i].NAMA_KEGIATAN,
                                                    result.data[i].BULAN,
                                                    result.data[i].VOLUME,
                                                    result.data[i].SATUAN,
                                                    formatRupiah(result.data[i].HARGA_SATUAN),
                                                    formatRupiah(result.data[i].SUBTOTAL),
                                                    '<a id="btnUpdateDetailRencanaPengadaanAset" data-IDDetailRKA="' + result.data[i].ID_DTL_RKA + '" data-IDDetailPencairanInvestasi="' + result.data[i].ID_DETAIL_PENCAIRAN_INVESTASI + '" data-toggle="modal" href="#detailRencanaPengadaanAsetModal" type="button" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>'
                                                ]).draw();
                                            }
                                        }
                                    }
                                }
                            })
                        }
                        $('#detailRencanaPengadaanAsetModal').modal('hide');
                    },
                    error: function(result){
                        toastr.error(JSON.stringify(result), 'Gagal');
                    }
                });
            }
            $(this).addClass('was-validated');
            return false;
        });
    </script>

    @if(Array.IndexOf(IDRoleUser, "9") != -1){
    <script>
        $('#unit').on('change', function() {
            $('#subUnit').empty();
            $('#subUnit').append('<option value="" selected>Semua sub unit...</option>');

            if($(this).val() == ""){
                $('#subUnit').prop("disabled", true);
            }else{
                $.ajax({
                    url: "/PengelolaanInvestasi/getSubUnit",
                    type: "POST",
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    data: { "IDMasterUnit": $(this).val() },
                    dataType: "json",
                    success: function (result) {
                        for (var i = 0; i < result.length; i++) {
                            $('#subUnit').append('<option value="' + result[i].NAMA_UNIT + '">' + result[i].NAMA_UNIT + '</option>');
                        }
                    }
                })
                $('#subUnit').prop("disabled", false);
            }
        });

        $( document ).ready(function() {
            $('#subUnit').prop("disabled", true);
        });
    </script>
    }else{
    <script>
        $( document ).ready(function() {
            $('#unit').prop("disabled", true);
            $('#subUnit').prop("disabled", false);
        });
    </script>
    }
}